<app-menu></app-menu>

<h2>Create Project</h2>


<div class="tab-pane active show" id="blank-project-pane" role="tabpanel">
  <form [formGroup]="NewProjectForm" (ngSubmit)="onSubmit()" novalidate>
    <input name="utf8" type="hidden" value="✓"><input
    type="hidden" name="authenticity_token"
    value="HejS7xUr2k5I0n8KCsPeu7ICEmh94zF6fT+04P84G8rHpBOeibREVxyzoOYRcJHv3+Xlht4KkNtJ5iATz3RMMw==">
    <div class="row" id="blank-project-name">
      <input value="false" type="hidden" name="project[ci_cd_only]" id="project_ci_cd_only">
      <div class="form-group project-name col-sm-12">
        <label class="label-bold" for="project_name"><span>Project name</span>
        </label>

        <input formControlName="name" class="form-control input-lg"

               id="name" required
               [(ngModel)]="name"
        >
        <div *ngIf="NewProjectForm.controls['name'].invalid && (NewProjectForm.controls['name'].dirty || NewProjectForm.controls['name'].touched)" class="alert alert-danger">
          <div *ngIf="NewProjectForm.controls['name'].errors.required">
            Name is required.
          </div>
        </div>
      </div>
      <div class="form-group project-path col-sm-6">
        <label class="label-bold" for="project_namespace_id"><span>Project URL</span>
        </label>
        <div class="input-group">
          <div class="input-group-prepend static-namespace has-tooltip" title=""
               data-original-title="https://gitlab.com/Houssemeddine/">
            <div class="input-group-text border-0">
              https://gitwaves.com/project/{{authenticationService.currentUserValue.username}}/{{name}}
            </div>
          </div>
          <input value="1363848" type="hidden" name="project[namespace_id]" id="project_namespace_id">
        </div>
      </div>

    </div>

    <div class="form-group">
      <label class="label-bold" for="project_description">Project description
        <span>(optional)</span>
      </label><textarea formControlName="description" class="form-control" rows="3" maxlength="250"
                        id="project_description"></textarea>
      <div *ngIf="NewProjectForm.controls['description'].invalid && (NewProjectForm.controls['description'].dirty || NewProjectForm.controls['description'].touched)" class="alert alert-danger">
        <div *ngIf="NewProjectForm.controls['description'].errors.required">
          Description is required.
        </div>
      </div>
    </div>
    <label class="label-bold">Visibility Level
      <a aria-label="Documentation for Visibility Level" target="_blank"
         rel="noopener noreferrer" [routerLink]="['/help']" ><i aria-hidden="true" data-hidden="true"
                                                     class="fa fa-question-circle"></i></a>
    </label>
    <div class="form-group visibility-level-setting">
      <div class="form-check">
        <input class="form-check-input" data-track-label="blank_project" data-track-event="activate_form_input"
               data-track-property="visibility_level" data-track-value="0" type="radio" value="0" checked="checked"
               name="project[visibility_level]" id="project_visibility_level_0">
        <label class="form-check-label" for="project_visibility_level_0"><i aria-hidden="true" data-hidden="true"
                                                                            class="fa fa-lock fa-fw"></i>
          <div class="option-title">
            Private
          </div>
          <div class="option-description">
            Project access must be granted explicitly to each user.
          </div>
          <div class="option-disabled-reason">
          </div>
        </label></div>
      <div class="form-check">
        <input class="form-check-input" data-track-label="blank_project" data-track-event="activate_form_input"
               data-track-property="visibility_level" data-track-value="10" type="radio" value="10"
               name="project[visibility_level]" id="project_visibility_level_10">
        <label class="form-check-label" for="project_visibility_level_10"><i aria-hidden="true" data-hidden="true"
                                                                             class="fa fa-shield fa-fw"></i>
          <div class="option-title">
            Internal
          </div>
          <div class="option-description">
            The project can be accessed by any logged in user.
          </div>
          <div class="option-disabled-reason">
          </div>
        </label></div>
      <div class="form-check">
        <input class="form-check-input" data-track-label="blank_project" data-track-event="activate_form_input"
               data-track-property="visibility_level" data-track-value="20" type="radio" value="20"
               name="project[visibility_level]" id="project_visibility_level_20">
        <label class="form-check-label" for="project_visibility_level_20"><i aria-hidden="true" data-hidden="true"
                                                                             class="fa fa-globe fa-fw"></i>
          <div class="option-title">
            Public
          </div>
          <div class="option-description">
            The project can be accessed without any authentication.
          </div>
          <div class="option-disabled-reason">
          </div>
        </label></div>

    </div>

    <div class="form-group row initialize-with-readme-setting">
      <div class="col-sm-12">
        <div class="form-check">
          <input type="checkbox" name="project[initialize_with_readme]" id="project_initialize_with_readme" value="1"
                 class="form-check-input" data-track-label="blank_project" data-track-event="activate_form_input"
                 data-track-property="init_with_readme">
          <label class="form-check-label" for="project_initialize_with_readme">
            <div class="option-title">
              <strong>Initialize repository with a LICENCE</strong>
            </div>
            <div class="option-description">
              Allows you to keep your rights and be protected by the law of copyrights
            </div>
          </label></div>
      </div>
    </div>
    <input type="submit" value="Create project" class="btn btn-success project-submit" data-track-label="blank_project"
           data-track-event="click_button" data-track-property="create_project" data-track-value=""
           data-disable-with="Create project">
    <a class="btn btn-cancel" data-track-label="blank_project" data-track-event="click_button"
       data-track-property="cancel" [routerLink]="['/']">Cancel</a>

  </form>
</div>

