<app-navbar></app-navbar>

<div class="layout-page page-with-contextual-sidebar page-with-icon-sidebar">
  <div class="nav-sidebar">
    <div class="nav-sidebar-inner-scroll">
      <div class="context-header">
        <a title="Branche" >
          <div class="avatar-container rect-avatar s40 project-avatar">
            <div class="avatar s40 avatar-tile identicon bg2">G</div>
          </div>
          <div class="sidebar-context-title">
            gitwaves
          </div>
        </a></div>
      <ul class="sidebar-top-level-items">
        <li class="home"><a class="shortcuts-project" >
          <div class="nav-icon-container">
            <svg>
              <use
                xlink:href="https://gitlab.com/assets/icons-24aaa921aa9e411162e6913688816c79861d0de4bee876cf6fc4c794be34ee91.svg#home"></use>
            </svg>
          </div>
          <span class="nav-item-name">
Project
</span>
        </a>
          <ul class="sidebar-sub-level-items">
            <li class="fly-out-top-item"><a><strong class="fly-out-top-item-name">
              Project
            </strong>
            </a></li>
            <li class="divider fly-out-top-item"></li>
            <li class=""><a title="Project details" class="shortcuts-project"
                           ><span>Details</span>
            </a></li>
            <li class=""><a title="Activity" class="shortcuts-project-activity qa-activity-link"
                            ><span>Activity</span>
            </a></li>
            <li class=""><a title="Releases" class="shortcuts-project-releases"
                            ><span>Releases</span>
            </a></li>
            <li class=""><a title="Cycle Analytics" class="shortcuts-project-cycle-analytics"
                           ><span>Cycle Analytics</span>
            </a></li>
          </ul>
        </li>
        <li class="active"><a class="shortcuts-tree qa-project-menu-repo" >
          <div class="nav-icon-container">
            <svg>
              <use
                xlink:href="https://gitlab.com/assets/icons-24aaa921aa9e411162e6913688816c79861d0de4bee876cf6fc4c794be34ee91.svg#doc-text"></use>
            </svg>
          </div>
          <span class="nav-item-name">
Repository
</span>
        </a>
          <ul class="sidebar-sub-level-items">
            <li class="fly-out-top-item active"><a ><strong
              class="fly-out-top-item-name">
              Repository
            </strong>
            </a></li>
            <li class="divider fly-out-top-item"></li>
            <li class=""><a >Files
            </a></li>
            <li class=""><a >Commits
            </a></li>
            <li class="active"><a class="qa-branches-link" >Branches
            </a></li>
            <li class=""><a >Tags
            </a></li>
            <li class=""><a >Contributors
            </a></li>
            <li class=""><a>Graph
            </a></li>
            <li class=""><a >Compare
            </a></li>
            <li class=""><a >Charts
            </a></li>
          </ul>
        </li>
        <li class=""><a class="shortcuts-issues qa-issues-item" >
          <div class="nav-icon-container">
            <svg>
              <use
                xlink:href="https://gitlab.com/assets/icons-24aaa921aa9e411162e6913688816c79861d0de4bee876cf6fc4c794be34ee91.svg#issues"></use>
            </svg>
          </div>
          <span class="nav-item-name">
Issues
</span>
          <span class="badge badge-pill count issue_counter">
0
</span>
        </a>
          <ul class="sidebar-sub-level-items">
            <li class="fly-out-top-item"><a><strong class="fly-out-top-item-name">
              Issues
            </strong>
              <span class="badge badge-pill count issue_counter fly-out-badge">
0
</span>
            </a></li>
            <li class="divider fly-out-top-item"></li>
            <li class=""><a title="Issues" ><span>
List
</span>
            </a></li>
            <li class=""><a title="Board" ><span>
Board
</span>
            </a></li>
            <li class=""><a title="Labels" class="qa-labels-link" ><span>
Labels
</span>
            </a></li>
            <li class=""><a title="Milestones" class="qa-milestones-link" ><span>
Milestones
</span>
            </a></li>
          </ul>
        </li>
        <li class=""><a class="shortcuts-merge_requests qa-merge-requests-link"
                        >
          <div class="nav-icon-container">
            <svg>
              <use
                xlink:href="https://gitlab.com/assets/icons-24aaa921aa9e411162e6913688816c79861d0de4bee876cf6fc4c794be34ee91.svg#git-merge"></use>
            </svg>
          </div>
          <span class="nav-item-name">
Merge Requests
</span>
          <span class="badge badge-pill count merge_counter js-merge-counter">
0
</span>
        </a>
          <ul class="sidebar-sub-level-items is-fly-out-only">
            <li class="fly-out-top-item"><a ><strong
              class="fly-out-top-item-name">
              Merge Requests
            </strong>
              <span class="badge badge-pill count merge_counter js-merge-counter fly-out-badge">
0
</span>
            </a></li>
          </ul>
        </li>
        <li class=""><a class="shortcuts-pipelines qa-link-pipelines" >
          <div class="nav-icon-container">
            <svg>
              <use
                xlink:href="https://gitlab.com/assets/icons-24aaa921aa9e411162e6913688816c79861d0de4bee876cf6fc4c794be34ee91.svg#rocket"></use>
            </svg>
          </div>
          <span class="nav-item-name">
CI / CD
</span>
        </a>
          <ul class="sidebar-sub-level-items">
            <li class="fly-out-top-item"><a ><strong class="fly-out-top-item-name">
              CI / CD
            </strong>
            </a></li>
            <li class="divider fly-out-top-item"></li>
            <li class=""><a title="Pipelines" class="shortcuts-pipelines" ><span>
Pipelines
</span>
            </a></li>
            <li class=""><a title="Jobs" class="shortcuts-builds" ><span>
Jobs
</span>
            </a></li>
            <li class=""><a title="Schedules" class="shortcuts-builds"
                            ><span>
Schedules
</span>
            </a></li>
            <li class=""><a title="Charts" class="shortcuts-pipelines-charts"
                            ><span>
Charts
</span>
            </a></li>
          </ul>
        </li>
        <li class=""><a class="shortcuts-operations qa-link-operations" >
          <div class="nav-icon-container">
            <svg>
              <use
                xlink:href="https://gitlab.com/assets/icons-24aaa921aa9e411162e6913688816c79861d0de4bee876cf6fc4c794be34ee91.svg#cloud-gear"></use>
            </svg>
          </div>
          <span class="nav-item-name">
Operations
</span>
        </a>
          <ul class="sidebar-sub-level-items">
            <li class="fly-out-top-item"><a ><strong
              class="fly-out-top-item-name">
              Operations
            </strong>
            </a></li>
            <li class="divider fly-out-top-item"></li>
            <li class=""><a title="Metrics" class="shortcuts-metrics"
                            ><span>
Metrics
</span>
            </a></li>
            <li class=""><a title="Environments" class="shortcuts-environments qa-operations-environments-link"
                            ><span>
Environments
</span>
            </a></li>
            <li class=""><a title="Error Tracking" class="shortcuts-tracking qa-operations-tracking-link"
                            ><span>
Error Tracking
</span>
            </a></li>
            <li class=""><a title="Serverless" ><span>
Serverless
</span>
            </a></li>
            <li class=""><a title="Kubernetes" class="shortcuts-kubernetes" ><span>
Kubernetes
</span>
              <div class="feature-highlight js-feature-highlight" data-container="body"
                   data-dismiss-endpoint="/-/user_callouts" data-highlight="gke_cluster_integration"
                   data-placement="right" data-toggle="popover" data-trigger="manual" disabled=""></div>
            </a>
              <div class="feature-highlight-popover-content">
                <img class="feature-highlight-illustration lazy"
                     data-src="https://assets.gitlab-static.net/assets/illustrations/cluster_popover-9830388038d966d8d64d43576808f9d5ba05f639a78a40bae9a5ddc7cbf72f24.svg"
                     src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==">

              </div>
            </li>
          </ul>
        </li>
        <li class=""><a class="shortcuts-container-registry" >
          <div class="nav-icon-container">
            <svg>
              <use
                xlink:href="https://gitlab.com/assets/icons-24aaa921aa9e411162e6913688816c79861d0de4bee876cf6fc4c794be34ee91.svg#disk"></use>
            </svg>
          </div>
          <span class="nav-item-name">
Registry
</span>
        </a>
          <ul class="sidebar-sub-level-items is-fly-out-only">
            <li class="fly-out-top-item"><a ><strong
              class="fly-out-top-item-name">
              Registry
            </strong>
            </a></li>
          </ul>
        </li>
        <li class=""><a class="shortcuts-wiki qa-wiki-link">
          <div class="nav-icon-container">
            <svg>
              <use
                xlink:href="https://gitlab.com/assets/icons-24aaa921aa9e411162e6913688816c79861d0de4bee876cf6fc4c794be34ee91.svg#book"></use>
            </svg>
          </div>
          <span class="nav-item-name">
Wiki
</span>
        </a>
          <ul class="sidebar-sub-level-items is-fly-out-only">
            <li class="fly-out-top-item"><a ><strong class="fly-out-top-item-name">
              Wiki
            </strong>
            </a></li>
          </ul>
        </li>
        <li class=""><a class="shortcuts-snippets" >
          <div class="nav-icon-container">
            <svg>
              <use
                xlink:href="https://gitlab.com/assets/icons-24aaa921aa9e411162e6913688816c79861d0de4bee876cf6fc4c794be34ee91.svg#snippet"></use>
            </svg>
          </div>
          <span class="nav-item-name">
Snippets
</span>
        </a>
          <ul class="sidebar-sub-level-items is-fly-out-only">
            <li class="fly-out-top-item"><a ><strong class="fly-out-top-item-name">
              Snippets
            </strong>
            </a></li>
          </ul>
        </li>
        <li class=""><a class="shortcuts-tree" >
          <div class="nav-icon-container">
            <svg>
              <use
                xlink:href="https://gitlab.com/assets/icons-24aaa921aa9e411162e6913688816c79861d0de4bee876cf6fc4c794be34ee91.svg#settings"></use>
            </svg>
          </div>
          <span class="nav-item-name qa-settings-item">
Settings
</span>
        </a>
          <ul class="sidebar-sub-level-items">
            <li class="fly-out-top-item"><a ><strong class="fly-out-top-item-name">
              Settings
            </strong>
            </a></li>
            <li class="divider fly-out-top-item"></li>
            <li class=""><a title="General" ><span>
General
</span>
            </a></li>
            <li class=""><a title="Members" class="qa-link-members-settings" ><span>
Members
</span>
            </a></li>
            <li class=""><a title="Integrations" ><span>
Integrations
</span>
            </a></li>
            <li class=""><a title="Repository" ><span>
Repository
</span>
            </a></li>
            <li class=""><a title="CI / CD" ><span>
CI / CD
</span>
            </a></li>
            <li class=""><a title="Operations" >Operations
            </a></li>
            <li class=""><a title="Pages" ><span>
Pages
</span>
            </a></li>
            <li class=""><a title="Audit Events" >Audit Events
            </a></li>
          </ul>
        </li>
        <a class="toggle-sidebar-button js-toggle-sidebar" role="button" title="Toggle sidebar" type="button">
          <svg class="icon-angle-double-left">
            <use
              xlink:href="https://gitlab.com/assets/icons-24aaa921aa9e411162e6913688816c79861d0de4bee876cf6fc4c794be34ee91.svg#angle-double-left"></use>
          </svg>
          <svg class="icon-angle-double-right">
            <use
              xlink:href="https://gitlab.com/assets/icons-24aaa921aa9e411162e6913688816c79861d0de4bee876cf6fc4c794be34ee91.svg#angle-double-right"></use>
          </svg>
          <span class="collapse-text">Collapse sidebar</span>
        </a>
        <button name="button" type="button" class="close-nav-button">
          <svg class="s16">
            <use
              xlink:href="https://gitlab.com/assets/icons-24aaa921aa9e411162e6913688816c79861d0de4bee876cf6fc4c794be34ee91.svg#close"></use>
          </svg>
          <span class="collapse-text">Close sidebar</span>
        </button>
        <li class="hidden">
          <a title="Activity" class="shortcuts-project-activity" ><span>
Activity
</span>
          </a></li>
        <li class="hidden">
          <a title="Network" class="shortcuts-network" >Graph
          </a></li>
        <li class="hidden">
          <a title="Charts" class="shortcuts-repository-charts">Charts
          </a></li>
        <li class="hidden">
          <a class="shortcuts-new-issue">Create a new issue
          </a></li>
        <li class="hidden">
          <a title="Jobs" class="shortcuts-builds" >Jobs
          </a></li>
        <li class="hidden">
          <a title="Commits" class="shortcuts-commits" >Commits
          </a></li>
        <li class="hidden">
          <a title="Issue Boards" class="shortcuts-issue-boards" >Issue Boards</a>
        </li>
      </ul>
    </div>
  </div>

  <div class="content-wrapper">

    <div class="mobile-overlay"></div>
    <div class="alert-wrapper">


      <nav class="breadcrumbs container-fluid container-limited" role="navigation">
        <div class="breadcrumbs-container">
          <button name="button" type="button" class="toggle-mobile-nav"><span class="sr-only">Open sidebar</span>
            <i aria-hidden="true" data-hidden="true" class="fa fa-bars"></i>
          </button>
          <div class="breadcrumbs-links js-title-container">
            <ul class="list-unstyled breadcrumbs-list js-breadcrumbs-list">
              <li>
                <a>  </a>
                <svg class="s8 breadcrumbs-list-angle">
                  <use
                    xlink:href="https://gitlab.com/assets/icons-24aaa921aa9e411162e6913688816c79861d0de4bee876cf6fc4c794be34ee91.svg#angle-right"></use>
                </svg>
              </li>
              <li><a ><span
                class="breadcrumb-item-text js-breadcrumb-item-text">gitwaves</span></a>
                <svg class="s8 breadcrumbs-list-angle">
                  <use
                    xlink:href="https://gitlab.com/assets/icons-24aaa921aa9e411162e6913688816c79861d0de4bee876cf6fc4c794be34ee91.svg#angle-right"></use>
                </svg>
              </li>

              <li>
                <h2 class="breadcrumbs-sub-title"><a href="/branches/new">New Branch</a></h2>
              </li>
            </ul>
          </div>

        </div>
      </nav>

      <div class="flash-container flash-container-page">
      </div>

      <div class="d-flex"></div>
    </div>
    <div class="container-fluid container-limited ">
      <div class="content" id="content-body">
        <h3 class="page-title">
          New Branch
        </h3>
        <hr>
        <form id="new-branch-form" class="js-create-branch-form js-requires-input"
              accept-charset="UTF-8" method="post"><input name="utf8" type="hidden" value="✓"><input type="hidden"
                                                                                                     name="authenticity_token"
                                                                                                     value="JPpxsCsg9x+n+eRc5Z4rURUJgFrXFnGLnupFNtQnyxOG50zDTNfVXQ7/jZRKyXiuRnOcPA+x8B3Kb/H9paQc1A==">
          <div class="form-group row">
            <label class="col-form-label col-sm-2" for="branch_name">Branch name</label>
            <div class="col-sm-10">
              <input type="text" name="branch_name" id="branch_name" required="required" autofocus="autofocus"
                     class="form-control js-branch-name monospace">
              <div class="form-text text-muted text-danger js-branch-name-error"></div>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-form-label col-sm-2" for="ref">Create from</label>
            <div class="col-sm-10 create-from">
              <div class="dropdown">
                <input type="hidden" name="ref" id="ref" value="master">
                <button name="button" type="button" title="master"
                        class="dropdown-menu-toggle wide js-branch-select monospace" required="required"
                        data-toggle="dropdown" data-selected="master" data-field-name="ref" aria-expanded="false">
                  <div class="text-left dropdown-toggle-text">master</div>
                  <i aria-hidden="true" data-hidden="true" class="fa fa-chevron-down"></i>
                </button>
                <div class="dropdown-menu dropdown-menu-selectable git-revision-dropdown wide"
                     x-placement="bottom-start"
                     style="position: absolute; transform: translate3d(0px, 35px, 0px); top: 0px; left: 0px; will-change: transform;">
                  <div class="dropdown-title"><span>Select Git revision</span>
                    <button class="dropdown-title-button dropdown-menu-close" aria-label="Close" type="button"><i
                      aria-hidden="true" data-hidden="true" class="fa fa-times dropdown-menu-close-icon"></i></button>
                  </div>
                  <div class="dropdown-input"><input type="search" id="" class="dropdown-input-field"
                                                     placeholder="Filter by Git revision" autocomplete="off"><i
                    aria-hidden="true" data-hidden="true" class="fa fa-search dropdown-input-search"></i><i
                    aria-hidden="true" data-hidden="true" role="button"
                    class="fa fa-times dropdown-input-clear js-dropdown-input-clear"></i></div>
                  <div class="dropdown-content">
                    <ul>

                      <li><a href="#" class="is-active">master</a></li>
                    </ul>
                  </div>
                  <div class="dropdown-loading"><i aria-hidden="true" data-hidden="true"
                                                   class="fa fa-spinner fa-spin"></i></div>
                </div>

              </div>
              <div class="form-text text-muted">Existing branch name</div>
            </div>
          </div>
          <div class="form-actions">
            <button name="button" type="submit" class="btn btn-success disabled" tabindex="3" disabled="">Create
              branch
            </button>
            <a class="btn btn-cancel" >Cancel</a>
          </div>
        </form>
        <script id="availableRefs" type="application/json">
          [
          "master"
        ]
        </script>

      </div>
    </div>
  </div>
</div>
