<app-navbar></app-navbar>

<div class="col-lg-12">

  <h4>
    Project members
  </h4>
  <p>You can invite a new member to <strong>{{currentProject?.name}}</strong>.</p>
  <div class="light">
    <ul class="nav-links nav nav-tabs gitlab-tabs" role="tablist">

      <li class="nav-tab" role="presentation">
        <a class="nav-link active" data-toggle="tab" href="#invite-member-pane" id="invite-member-tab" role="tab">Invite
          member</a>
      </li>

    </ul>

    <div class="tab-content gitlab-tab-content">
      <div class="tab-pane active" id="invite-member-pane" role="tabpanel">
        <div class="row">
          <div class="col-sm-12">
            <form [formGroup]="NewMemberForm" (ngSubmit)="onSubmit()" class="users-project-form" id="new_project_member"
                  accept-charset="UTF-8" method="post"><input name="utf8" type="hidden" value="✓">
              <div class="form-group">
                <label class="label-bold">Select a member</label> <br>
                <div class="col-sm-10 create-from">


                  <div class="dropdown">
                    <input type="hidden" name="ref" id="ref" value="master">
                    <button name="button" type="button" title="master"
                            class="dropdown-menu-toggle wide js-branch-select monospace" required="required"
                            data-toggle="dropdown" data-selected="master" data-field-name="ref" aria-expanded="false">
                      <div *ngIf="selectMembers" class="text-left dropdown-toggle-text">
                        {{selectMembers?.username}}</div>
                      <i aria-hidden="true" data-hidden="true" class="fa fa-chevron-down"></i>
                    </button>
                    <div class="dropdown-menu dropdown-menu-selectable git-revision-dropdown wide"
                         x-placement="bottom-start"
                         style="position: absolute; transform: translate3d(0px, 35px, 0px); top: 0px; left: 0px; will-change: transform;">
                      <div class="dropdown-title"><span>Select a user</span>
                        <button class="dropdown-title-button dropdown-menu-close" aria-label="Close" type="button"><i
                          aria-hidden="true" data-hidden="true" class="fa fa-times dropdown-menu-close-icon"></i>
                        </button>
                      </div>
                      <div class="dropdown-input"><input type="search" id="" class="dropdown-input-field"
                                                         placeholder="Filter by Branche Name" autocomplete="off"><i
                        aria-hidden="true" data-hidden="true" class="fa fa-search dropdown-input-search"></i><i
                        aria-hidden="true" data-hidden="true" role="button"
                        class="fa fa-times dropdown-input-clear js-dropdown-input-clear"></i>
                      </div>


                      <div class="dropdown-content">
                        <ul>
                          <li *ngFor=" let branche of memberslist"
                              (click)="onSelect(branche)" [hidden]="!ontestUser(branche)">
                            <span class="badge"></span>
                            <a>{{branche?.username}}</a>
                          </li>
                        </ul>
                      </div>


                    </div>

                  </div>
                  <div class="form-text text-muted">Existing User : username or email</div>
                </div>
              </div>


              <div class="form-group">
                <label class="label-bold">Choose a role permission</label>
                <div class="select-wrapper">
                  <select class="form-control" id="country" formControlName="role">
                    <option *ngFor="let c of roles" (change)="onselectRole(c)">{{c}}</option>
                  </select>
                  <i aria-hidden="true" data-hidden="true" class="fa fa-chevron-down"></i>
                </div>
                <div class="form-text text-muted append-bottom-10">
                  <a [routerLink]="['/help']">Read more</a> about role permissions
                </div>
              </div>
              <input type="submit" value="Add to project" class="btn btn-success qa-add-member-button "
                     data-disable-with="Add to project">
            </form>
          </div>
        </div>

      </div>

    </div>

    <div class="clearfix">
      <h5 class="member existing-title">
        Existing members and groups
      </h5>
    </div>
  </div>
  <div class="card">
    <div class="card-header flex-project-members-panel">
<span class="flex-project-title">
Members of <strong>{{currentProject?.name}}</strong>
</span>
      <span class="badge badge-pill">{{membres?.length}}</span>
    </div>
    <ul class="content-list members-list qa-members-list">
      <li class="member project_member" id="project_member_13630403" *ngFor="let membre of membres"
          [hidden]="!ontestUser(membre)">
<span class="list-item-name">
<img class="avatar s40 js-lazy-loaded qa-js-lazy-loaded" alt=""
     src="https://secure.gravatar.com/avatar/a6bf07223aa8bebbd82a4b53a52729cc?s=80&amp;d=identicon">
<div class="user-info">
<a class="member js-user-link" data-user-id="3556172">{{membre?.username}}@{{currentProject?.name}}</a>


<div class="cgray">
Given access <time class="js-timeago" title="" datetime="2019-02-16T18:43:49Z" data-toggle="tooltip"
                   data-placement="top" data-container="body" data-tid="12" data-original-title="Feb 16, 2019 6:43pm">2 days ago</time>
</div>
</div>
</span>
        <div class="controls member-controls">

          <form class="js-edit-member-form form-group row append-right-5" id="edit_project_member_13630403"
                accept-charset="UTF-8" data-remote="true" method="post"><input name="utf8" type="hidden"
                                                                               value="✓"><input type="hidden"
                                                                                                name="_method"
                                                                                                value="patch"><input
            type="hidden" value="40" name="project_member[access_level]" id="project_member_access_level">
            <div class="member-form-control dropdown append-right-5">
              <button class="dropdown-menu-toggle js-member-permissions-dropdown"
                      data-field-name="project_member[access_level]" data-toggle="dropdown" type="button">
<span class="dropdown-toggle-text">
Maintainer
</span>
                <i aria-hidden="true" data-hidden="true" class="fa fa-chevron-down"></i>
              </button>
              <div class="dropdown-menu dropdown-select dropdown-menu-right dropdown-menu-selectable">
                <div class="dropdown-title"><span>Change permissions</span>
                  <button class="dropdown-title-button dropdown-menu-close" aria-label="Close" type="button"><i
                    aria-hidden="true" data-hidden="true" class="fa fa-times dropdown-menu-close-icon"></i></button>
                </div>
                <div class="dropdown-content">
                  <ul>
                    <li>
                      <a data-id="10" data-el-id="project_member_13630403" href="javascript:void(0)">Guest</a>
                    </li>
                    <li>
                      <a data-id="20" data-el-id="project_member_13630403" href="javascript:void(0)">Reporter</a>
                    </li>

                    <li>
                      <a class="is-active" data-id="40" data-el-id="project_member_13630403" href="javascript:void(0)">Maintainer</a>
                    </li>

                  </ul>
                </div>
              </div>
            </div>
            <div class="prepend-left-5 clearable-input member-form-control">
              <i class="clear-icon js-clear-input"></i>
              <div class="pika-single gitlab-theme animate-picker is-hidden is-bound"
                   style="position: static; left: auto; top: auto;"></div>
            </div>
          </form>
          <a data-confirm="Are you sure you want to remove this person from project"
             class="btn btn-remove prepend-left-10" title="Remove user from project" rel="nofollow" data-method="delete"
             (click)="deleteBusiness(membre._id)"><span class="d-block d-sm-none">
Delete
</span>
            <i aria-hidden="true" data-hidden="true" class="fa fa-trash d-none d-sm-block"></i>
          </a>
        </div>
      </li>

      <li class="member project_member" id="project_member_13485161">
<span class="list-item-name">
<img class="avatar s40 js-lazy-loaded qa-js-lazy-loaded" alt=""
     src="https://secure.gravatar.com/avatar/d13d11a0d367288dadae6d389b08f09a?s=80&amp;d=identicon">
<div class="user-info">
<a class="member js-user-link" data-user-id="1146676">{{currentUser.username}}</a>

<span class="cgray">@{{currentProject.name}}</span>

<span class="badge badge-success prepend-left-5">It's you</span>
<div class="cgray">
Given access <time class="js-timeago" title="" datetime="2019-02-09T11:31:23Z" data-toggle="tooltip"
                   data-placement="top" data-container="body" data-tid="15" data-original-title="Feb 9, 2019 11:31am">1 week ago</time>
</div>
</div>
</span>
        <div class="controls member-controls">
          <span class="member-access-text">Maintainer</span>
        </div>
      </li>
    </ul>
  </div>


</div>
