<app-navbar></app-navbar>


<div class="container-fluid container-limited ">
  <div class="content" id="content-body">
    <div class="detail-page-header">
      <div class="detail-page-header-body">
        <div class="hidden issuable-status-box status-box status-box-issue-closed">
          <svg class="s16 d-block d-sm-none">
            <use
              xlink:href="https://gitlab.com/assets/icons-b2073af7ca0641787eb4596951b695079519da1937a262a886bb12c2b0fac181.svg#mobile-issue-close"></use>
          </svg>
          <div class="d-none d-sm-block">
            Closed
          </div>
        </div>
        <div class="issuable-status-box status-box status-box-open">
          <svg class="s16 d-block d-sm-none">
            <use
              xlink:href="https://gitlab.com/assets/icons-b2073af7ca0641787eb4596951b695079519da1937a262a886bb12c2b0fac181.svg#issue-open-m"></use>
          </svg>
          <span class="d-none d-sm-block">Open</span>
        </div>
        <div class="issuable-meta">
          Opened
          <time class="js-timeago" title="" datetime="2019-04-10T19:01:09Z" data-toggle="tooltip" data-placement="top"
                data-container="body" data-original-title="Apr 10, 2019 7:01pm">in {{issue.created_at}}
          </time>
          by <strong><a class="author-link js-user-link  d-none d-sm-inline" data-user-id="1146676"
                        data-username="Houssemeddine" data-name="marnissi" href="/Houssemeddine"><img width="24"
                                                                                                      class="avatar avatar-inline s24 js-lazy-loaded qa-js-lazy-loaded"
                                                                                                      alt=""
                                                                                                      src="https://secure.gravatar.com/avatar/d13d11a0d367288dadae6d389b08f09a?s=48&amp;d=identicon"><span
          class="author">{{creatorIssue.username}} </span></a><a
          class="author-link js-user-link  d-inline d-sm-none" data-user-id="1146676" data-username="Houssemeddine"
          data-name="marnissi" href="/Houssemeddine"><span class="author"></span></a></strong><span
          class="has-tooltip prepend-left-4" title="1st contribution!">Assigned to branche {{branche.name}}</span><span id="task_status"
                                                                                    class="d-none d-sm-none d-md-inline-block prepend-left-8"></span><span
          id="task_status_short" class="d-md-none"></span>
        </div>
        <a class="btn btn-default float-right d-block d-sm-none gutter-toggle issuable-gutter-toggle js-sidebar-toggle"
           href="#">
          <i aria-hidden="true" data-hidden="true" class="fa fa-angle-double-left"></i>
        </a>
      </div>
      <div class="detail-page-header-actions js-issuable-actions">
        <div class="clearfix issue-btn-group dropdown">
          <button class="btn btn-default float-left d-md-none d-lg-none d-xl-none" data-toggle="dropdown" type="button">
            Options
            <i aria-hidden="true" data-hidden="true" class="fa fa-caret-down"></i>
          </button>
          <div class="dropdown-menu dropdown-menu-right d-lg-none d-xl-none">
            <ul>
              <li><a class="btn-close js-btn-issue-action " title="Close issue"  [routerLink]="['/project/'+currentProject?.link_identifier+'/issues']">Close issue</a></li>
              <li><a title="New issue"  [routerLink]="['/project/'+currentProject?.link_identifier+'/issues/new']">New issue</a></li>
            </ul>
          </div>
        </div>
        <a class="d-none d-sm-none d-md-block btn btn-grouped btn-close js-btn-issue-action " title="Close issue"
           rel="nofollow" data-method=""[routerLink]="['/project/'+currentProject?.link_identifier+'/issues']">Close issue</a>


        <a class="d-none d-sm-none d-md-block btn btn-grouped btn-success btn-inverted" title="New issue"
           id="new_issue_link"[routerLink]="['/project/'+currentProject?.link_identifier+'/issues/new']">New issue
        </a></div>
    </div>
    <div class="issue-details issuable-details">
      <div class="detail-page-description content-block">
        <script id="js-issuable-app-initial-data" type="application/json"></script>
        <div>
          <div>
            <div class="title-container">
              <h2 class="title">{{issue?.name}}</h2>

            </div>
            <div class="description js-task-list-container is-task-list-enabled" updated-at="">
              <div class="md"><p data-sourcepos="1:1-1:14" dir="auto">{{issue.description}}</p></div>
              <textarea data-update-url="/wildchild/gitwaves/issues/1.json"
                        class="hidden js-task-list-field"></textarea>
              <div class="modal-open recaptcha-modal js-recaptcha-modal" style="display: none;">
                <div role="dialog" tabindex="-1" class="modal d-block">
                  <div role="document" class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header"><h4 class="modal-title float-left">Please solve the reCAPTCHA</h4>
                        <button type="button" data-dismiss="modal" aria-label="Close" class="close float-right"><span
                          aria-hidden="true">×</span></button>
                      </div>
                      <div class="modal-body">
                        <div><p>We want to be sure it is you, please confirm you are not a robot.</p>
                          <div></div>
                        </div>
                      </div> <!----></div>
                  </div>
                </div>
                <div class="modal-backdrop fade show"></div>
              </div>
            </div> <!----></div>
        </div>
        <!---->
        <div data-url="/wildchild/gitwaves/issues/1/related_branches" id="related-branches"></div>
      </div>
      <section class="issuable-discussion js-vue-notes-event">
        <div id="notes">


          <ul id="notes-list" class="notes main-notes-list timeline">
            <li class="timeline-entry note note-wrapper qa-noteable-note-item note-row-159550892 is-editable"
                *ngFor="let com of comments" id="note_159550892"
                data-award-url="/wildchild/gitwaves/notes/159550892/toggle_award_emoji"
                data-note-id="159550892">
              <div class="timeline-entry-inner">
                <div class="timeline-icon">
                  <a class="user-avatar-link"><span><img
                    src="https://secure.gravatar.com/avatar/d13d11a0d367288dadae6d389b08f09a?s=80&amp;d=identicon"
                    width="40" height="40" alt="marnissi"
                    data-src="https://secure.gravatar.com/avatar/d13d11a0d367288dadae6d389b08f09a?s=80&amp;d=identicon"
                    class="avatar s40 ">
                    <!----></span><!----></a>
                </div>
                <div class="timeline-content">
                  <div class="note-header">
                    <div class="note-header-info"><!----> <a  data-user-id="1146676"
                                                             data-username="Houssemeddine" class="js-user-link"> <span
                      class="note-header-author-name">{{creatorIssue.username}}</span> <!----> </a> <span
                      class="note-headline-light note-headline-meta"><span class="system-note-message"> <span
                      class="d-none d-sm-inline">·</span></span> <span class="system-note-separator"><!----></span> <a
                      href="#note_159550892" class="note-timestamp system-note-separator"><time title="" class=""
                                                                                                data-original-title="Apr 10, 2019 9:13pm GMT+0100"> created at {{com.created_at}} </time></a> <i
                      aria-label="Comment is being updated" aria-hidden="true"
                      class="fa fa-spinner fa-spin editing-spinner"></i></span></div>
                    <div class="note-actions"><span class="note-role user-access-role">Maintainer</span> <!---->
                      <div class="note-actions-item"><a href="#" title=""
                                                        class="note-action-button note-emoji-button js-add-award js-note-emoji js-user-authored"
                                                        data-original-title="Add reaction">
                        <svg aria-hidden="true"
                             class="s16 ic-emoji_slightly_smiling_face link-highlight award-control-icon-neutral">
                          <use
                            xlink:href="https://gitlab.com/assets/icons-b2073af7ca0641787eb4596951b695079519da1937a262a886bb12c2b0fac181.svg#emoji_slightly_smiling_face"></use>
                        </svg>
                        <svg aria-hidden="true" class="s16 ic-emoji_smiley link-highlight award-control-icon-positive">
                          <use
                            xlink:href="https://gitlab.com/assets/icons-b2073af7ca0641787eb4596951b695079519da1937a262a886bb12c2b0fac181.svg#emoji_smiley"></use>
                        </svg>
                        <svg aria-hidden="true"
                             class="s16 ic-emoji_smiley link-highlight award-control-icon-super-positive">
                          <use
                            xlink:href="https://gitlab.com/assets/icons-b2073af7ca0641787eb4596951b695079519da1937a262a886bb12c2b0fac181.svg#emoji_smiley"></use>
                        </svg>
                      </a></div>
                      <div class="note-actions-item js-reply-button">
                        <button title="" type="button" class="btn note-action-button btn-transparent"
                                variant="transparent" data-original-title="Reply to comment">
                          <svg aria-hidden="true" class="s16 ic-comment link-highlight">
                            <use
                              xlink:href="https://gitlab.com/assets/icons-b2073af7ca0641787eb4596951b695079519da1937a262a886bb12c2b0fac181.svg#comment"></use>
                          </svg>
                        </button>
                      </div>
                      <div class="note-actions-item">
                        <button type="button" title="" class="note-action-button js-note-edit btn btn-transparent"
                                data-original-title="Edit comment">
                          <svg aria-hidden="true" class="s16 ic-pencil link-highlight">
                            <use
                              xlink:href="https://gitlab.com/assets/icons-b2073af7ca0641787eb4596951b695079519da1937a262a886bb12c2b0fac181.svg#pencil"></use>
                          </svg>
                        </button>
                      </div>
                      <div class="dropdown more-actions note-actions-item">
                        <button type="button" title="" data-toggle="dropdown"
                                class="note-action-button more-actions-toggle btn btn-transparent"
                                data-original-title="More actions">
                          <svg aria-hidden="true" class="s16 ic-ellipsis_v icon">
                            <use
                              xlink:href="https://gitlab.com/assets/icons-b2073af7ca0641787eb4596951b695079519da1937a262a886bb12c2b0fac181.svg#ellipsis_v"></use>
                          </svg>
                        </button>
                        <ul class="dropdown-menu more-actions-dropdown dropdown-open-left"><!---->
                          <li>
                            <button data-clipboard-text="https://gitlab.com/wildchild/gitwaves/issues/1#note_159550892"
                                    type="button" class="btn-default btn-transparent js-btn-copy-note-link">
                              Copy link
                            </button>
                          </li>
                          <li>
                            <button type="button" class="btn btn-transparent js-note-delete js-note-delete"><span
                              class="text-danger">Delete comment</span></button>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <div class="timeline-discussion-body">
                    <div class="note-body js-task-list-container is-task-list-enabled">
                      <div class="note-text md"><p data-sourcepos="1:1-1:7" dir="auto">{{com.description}}</p></div>
                      <!----> <textarea data-update-url="/wildchild/gitwaves/notes/159550892"
                                        class="hidden js-task-list-field"></textarea> <!----> <!----> <!----></div>
                  </div>
                </div>
              </div>
            </li>
            <li class="timeline-entry note note-wrapper discussion-filter-note js-discussion-filter-note"
                style="display: none;">
              <div class="timeline-icon d-none d-lg-flex">
                <svg aria-hidden="true" class="s16 ic-comment">
                  <use
                    xlink:href="https://gitlab.com/assets/icons-b2073af7ca0641787eb4596951b695079519da1937a262a886bb12c2b0fac181.svg#comment"></use>
                </svg>
              </div>
              <div class="timeline-content">
                <div>You're only seeing <b>other activity</b> in the feed. To add a comment, switch to one of the
                  following options.
                </div>
                <div class="discussion-filter-actions mt-2">
                  <button type="button" class="btn btn-default" variant="default">
                    Show all activity
                  </button>
                  <button type="button" class="btn btn-default" variant="default">
                    Show comments only
                  </button>
                </div>
              </div>
            </li>

          </ul>
          <div>
            <ul class="notes notes-form timeline">
              <li class="timeline-entry note-form">
                <div class="timeline-entry-inner">
                  <div class="flash-container error-alert timeline-content"></div>
                  <div class="timeline-icon d-none d-sm-none d-md-block"><a href="/Houssemeddine"
                                                                            class="user-avatar-link"><span><img
                    src="https://secure.gravatar.com/avatar/d13d11a0d367288dadae6d389b08f09a?s=80&amp;d=identicon"
                    width="40" height="40" alt="marnissi"
                    data-src="https://secure.gravatar.com/avatar/d13d11a0d367288dadae6d389b08f09a?s=80&amp;d=identicon"
                    class="avatar s40 "> <!----></span><!----></a></div>
                  <div class="timeline-content timeline-content-form">
                    <form class="new-note common-note-form gfm-form js-main-target-form" [formGroup]="NewCommentForm"
                          (ngSubmit)="createComment()">
                      <div class="error-alert">

                      </div> <!---->
                      <div class="js-vue-markdown-field md-area position-relative gfm-form">
                        <div class="md-write-holder">
                          <div class="zen-backdrop div-dropzone-wrapper">
                            <div class="div-dropzone dz-clickable">
                    <textarea formControlName="description" id="note-body" name="note[note]"
                              data-supports-quick-actions="true" aria-label="Description"
                              placeholder="Write a comment or drag your files here…" class="note-textarea js-vue-comment-form js-note-text
js-gfm-input js-autosize markdown-area js-vue-textarea qa-comment-input"
                              style="overflow: hidden; overflow-wrap: break-word; resize: none; height: 140px;"></textarea>

                              <div class="div-dropzone-hover"><i class="fa fa-paperclip div-dropzone-icon"></i></div>
                            </div>
                            <a href="#" aria-label="Enter zen mode" class="zen-control zen-control-leave js-zen-leave">
                              <svg aria-hidden="true" class="s32 ic-screen-normal">
                                <use
                                  xlink:href="https://gitlab.com/assets/icons-b2073af7ca0641787eb4596951b695079519da1937a262a886bb12c2b0fac181.svg#screen-normal"></use>
                              </svg>
                            </a>
                          </div>
                        </div>
                        <div class="js-vue-md-preview md md-preview-holder" style="display: none;"></div> <!----></div>
                      <div class="note-form-actions">
                        <div class="float-left btn-group
append-right-10 comment-type-dropdown js-comment-type-dropdown droplab-dropdown">
                          <button  type="submit" class="btn btn-success js-comment-button js-comment-submit-button
                    qa-comment-button">
                            Comment
                          </button>


                          <ul class="note-type-dropdown dropdown-open-top dropdown-menu">
                            <li class="droplab-item-selected">
                              <button type="button" class="btn btn-transparent"><i aria-hidden="true"
                                                                                   class="fa fa-check icon"></i>
                                <div class="description"><strong>Comment</strong>
                                  <p>Add a general comment to this issue.</p></div>
                              </button>
                            </li>
                            <li class="divider droplab-item-ignore"></li>
                            <li class="">
                              <button type="button" class="btn btn-transparent qa-discussion-option"><i
                                aria-hidden="true" class="fa fa-check icon"></i>
                                <div class="description"><strong>Start discussion</strong>
                                  <p>Discuss a specific suggestion or question.</p></div>
                              </button>
                            </li>
                          </ul>
                        </div>
                        <button type="button" [routerLink]="['/project/'+currentProject?.link_identifier+'/issues']"
                                class="btn-close js-note-target-close btn btn-comment btn-comment-and-close js-action-button">
                          <!----> <span class="js-loading-button-label"> Close issue </span></button>
                      </div>
                    </form>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </section>


    </div>


  </div>
</div>


