<app-navbar></app-navbar>

<div class="content-wrapper">

  <div class="alert-wrapper">






    <nav class="breadcrumbs container-fluid container-limited" role="navigation">
      <div class="breadcrumbs-container">
        <button name="button" type="button" class="toggle-mobile-nav"><span class="sr-only">Open sidebar</span>
          <i aria-hidden="true" data-hidden="true" class="fa fa-bars"></i>
        </button><div class="breadcrumbs-links js-title-container">
        <ul class="list-unstyled breadcrumbs-list js-breadcrumbs-list">
          <li><a ><span class="breadcrumb-item-text js-breadcrumb-item-text">gitwaves</span></a><svg class="s8 breadcrumbs-list-angle"><use xlink:href="https://gitlab.com/assets/icons-24aaa921aa9e411162e6913688816c79861d0de4bee876cf6fc4c794be34ee91.svg#angle-right"></use></svg></li>
          <li><a >Issues</a><svg class="s8 breadcrumbs-list-angle"><use xlink:href="https://gitlab.com/assets/icons-24aaa921aa9e411162e6913688816c79861d0de4bee876cf6fc4c794be34ee91.svg#angle-right"></use></svg></li>

          <li>
            <h2 class="breadcrumbs-sub-title"><a >New</a></h2>
          </li>
        </ul>
      </div>

      </div>
    </nav>

    <div class="flash-container flash-container-page">
    </div>

    <div class="d-flex"></div>
  </div>
  <div class="container-fluid container-limited ">
    <div class="content" id="content-body">
      <h3 class="page-title">
        New Issue
      </h3>
      <hr>
      <input name="utf8" type="hidden" value="✓"><input type="hidden" name="authenticity_token" value="lU7pT0DBN3ZkXlosEGhfgUUw0r5Y54x6cG7YZlwyxT+MS2Vo2Isgg74pdwZx8ObHJJHVzPa8srwbJ5OAC6qogQ==">
        <div class="form-group row">
          <label class="col-form-label col-sm-2" for="issue_title">Title</label>

          <div class="col-sm-10">
            <input required="required" maxlength="255" autofocus="autofocus" autocomplete="off" class="form-control pad qa-issuable-form-title" placeholder="Title" size="255" type="text" name="issue[title]" id="issue_title" [(ngModel)]="name">
            <div *ngIf="name" >

              <div *ngIf="name.length <3" class="alert alert-danger">
              Insert a correct name more then 3 caractere
              </div>

            </div>
            <div *ngIf="!name" class="alert alert-danger">
              Name is required.
            </div>
            <div class="form-text text-muted">
              Add
              <a id="promotion-issue-template-link" data-toggle="dropdown" tabindex="-1" href="javascript:void(0);">description templates</a>
              to help your contributors communicate effectively!
              <div class="dropdown promotion-issue-template">
                <div class="dropdown-menu promotion-issue-template-message">
                  <div class="dropdown-title">
                    <button aria-label="Close" class="dropdown-title-button dropdown-menu-close" type="button">
                      <i aria-hidden="true" class="fa fa-times dropdown-menu-close-icon" data-hidden="true"></i>
                    </button>
                  </div>
                  <div>
                    <p>
                      Description templates allow you to define context-specific templates for issue and merge request description fields for your project.
                      <a class="btn-link" href="/help">Read more</a>
                    </p>

                  </div>
                </div>
              </div>
            </div>


          </div>

        </div>
        <div class="form-group row detail-page-description">
          <label class="col-form-label col-sm-2" >Description</label>
          <div class="col-sm-10">
            <div class="md-area">

              <div class="md-write-holder">
                <div class="zen-backdrop div-dropzone-wrapper">
                  <div class="div-dropzone dz-clickable">
                    <textarea [(ngModel)]="description" class="note-textarea qa-issuable-form-description js-gfm-input js-autosize markdown-area" placeholder="Write a comment or drag your files here…" data-supports-quick-actions="true" data-supports-autocomplete="true"style="overflow: hidden; overflow-wrap: break-word; resize: none; height: 140px;"></textarea><div class="div-dropzone-hover"><i class="fa fa-paperclip div-dropzone-icon"></i></div></div>
                  <div *ngIf="description" >

                    <div *ngIf="description.length <3" class="alert alert-danger">
                      Insert a correct description more then 3 caractere
                    </div>

                  </div>
                  <div *ngIf="!description" class="alert alert-danger">
                    description is required.
                  </div>
                  <a class="zen-control zen-control-leave js-zen-leave" href="#">
                    <i aria-hidden="true" data-hidden="true" class="fa fa-compress"></i>
                  </a>
                </div>


                <div class="clearfix"></div>
                <div class="error-alert"></div>

              </div>
              <div class="md md-preview-holder js-md-preview hide md-preview" data-url="/wildchild/gitwaves/preview_markdown?quick_actions_target_type=Issue"></div>
              <div class="referenced-commands hide"></div>
              <div class="referenced-users hide" style="display: none;">
<span>
<i aria-hidden="true" data-hidden="true" class="fa fa-exclamation-triangle"></i>
You are about to add
<strong>
<span class="js-referenced-users-count">0</span>
people
</strong>
to the discussion. Proceed with caution.
</span>
              </div>
            </div>
          </div>
        </div>

        <div class="form-group row">
          <div class="offset-sm-2 col-sm-10">
            <div class="form-check">
              <input name="issue[confidential]" type="hidden" value="0"><input class="form-check-input" type="checkbox" value="1" name="issue[confidential]" id="issue_confidential">
              <label class="form-check-label" for="issue_confidential">This issue is confidential and should only be visible to team members with at least Reporter access.
              </label></div>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-lg-6">
            <div class="form-group row">
              <label class="col-form-label col-sm-2" for="ref">Branche</label>
              <div class="col-sm-10 create-from">


                <div class="dropdown">
                  <input type="hidden" name="ref" id="ref" value="master">
                  <button name="button" type="button" title="master"
                          class="dropdown-menu-toggle wide js-branch-select monospace" required="required"
                          data-toggle="dropdown" data-selected="master" data-field-name="ref" aria-expanded="false">
                    <div *ngIf="selectedBranche" class="text-left dropdown-toggle-text">
                      {{selectedBranche.name}}</div>
                    <i aria-hidden="true" data-hidden="true" class="fa fa-chevron-down"></i>
                  </button>
                  <div class="dropdown-menu dropdown-menu-selectable git-revision-dropdown wide"
                       x-placement="bottom-start"
                       style="position: absolute; transform: translate3d(0px, 35px, 0px); top: 0px; left: 0px; will-change: transform;">
                    <div class="dropdown-title"><span>Select Git Branche</span>
                      <button class="dropdown-title-button dropdown-menu-close" aria-label="Close" type="button"><i
                        aria-hidden="true" data-hidden="true" class="fa fa-times dropdown-menu-close-icon"></i></button>
                    </div>
                    <div class="dropdown-input"><input type="search" id="" class="dropdown-input-field"
                                                       placeholder="Filter by Branche Name" autocomplete="off"><i
                      aria-hidden="true" data-hidden="true" class="fa fa-search dropdown-input-search"></i><i
                      aria-hidden="true" data-hidden="true" role="button"
                      class="fa fa-times dropdown-input-clear js-dropdown-input-clear"></i>
                    </div>


                    <div class="dropdown-content">
                      <ul>

                        <li *ngFor=" let branche of project.branched"
                            (click)="onSelect(branche)">
                          <span class="badge"> </span> <a>{{branche?.name}}</a>
                        </li>
                      </ul>
                    </div>


                  </div>

                </div>
                <div class="form-text text-muted">Existing branch name, tag, or commit SHA</div>
              </div>
            </div>

          </div>
        </div>





        <div class="footer-block row-content-block">
          <div class="float-right">
            <a class="btn btn-cancel"
               [routerLink]="['/project/'+currentUser?.username+'/'+currentProject?.name+'/issues']">Cancel</a>
          </div>
          <span class="append-right-10">
<input type="submit" name="commit" value="Submit issue" class="btn btn-success qa-issuable-create-button" (click)="createissues()">
</span>
        </div>
        <li class="unsaved-approvers hide approver approver-template" id="user_{user_id}">
          <a href="#">approver_name</a>
          <div class="float-right">
            <a data-confirm="Are you sure you want to remove approver {approver_name}" class="btn-sm btn btn-remove" title="Remove approver" href="#"><i aria-hidden="true" data-hidden="true" class="fa fa-sign-out"></i>
              Remove
            </a></div>
        </li>

        <input type="hidden" name="issue[lock_version]" id="issue_lock_version">



    </div>
  </div>
</div>
