<app-navbar></app-navbar>

<div class="layout-page page-with-contextual-sidebar page-with-icon-sidebar">

  <div class="content-wrapper">

    <div class="mobile-overlay"></div>
    <div class="alert-wrapper">


      <nav class="breadcrumbs container-fluid container-limited" role="navigation">
        <div class="breadcrumbs-container">
          <button name="button" type="button" class="toggle-mobile-nav"><span class="sr-only">Open sidebar</span>
            <i aria-hidden="true" data-hidden="true" class="fa fa-bars"></i>
          </button>
          <div class="breadcrumbs-links js-title-container">
            <ul class="list-unstyled breadcrumbs-list js-breadcrumbs-list">
              <li>

                <a></a>
                <svg class="s8 breadcrumbs-list-angle">
                  <use
                    xlink:href="https://gitlab.com/assets/icons-24aaa921aa9e411162e6913688816c79861d0de4bee876cf6fc4c794be34ee91.svg#angle-right"></use>
                </svg>
              </li>
              <li><a><span
                class="breadcrumb-item-text js-breadcrumb-item-text">gitwaves</span></a>
                <svg class="s8 breadcrumbs-list-angle">
                  <use
                    xlink:href="https://gitlab.com/assets/icons-24aaa921aa9e411162e6913688816c79861d0de4bee876cf6fc4c794be34ee91.svg#angle-right"></use>
                </svg>
              </li>

              <li>
                <h2 class="breadcrumbs-sub-title"><a>New Branch</a></h2>
              </li>
            </ul>
          </div>

        </div>
      </nav>

      <div class="flash-container flash-container-page">
      </div>

      <div class="d-flex"></div>
    </div>
    <div class="container-fluid container-limited ">
      <div class="content" id="content-body">
        <h3 class="page-title">
          New Branch
        </h3>
        <hr>
        <form id="new-branch-form" class="js-create-branch-form js-requires-input"
              accept-charset="UTF-8" method="post"
              [formGroup]="NewBrancheForm" novalidate
        ><input name="utf8" type="hidden" value="✓"

        >
          <div class="form-group row">
            <label class="col-form-label col-sm-2" for="branchName">Branch name</label>
            <div class="col-sm-10">

              <input type="text" name="branchName" id="branchName"
                     required="required"
                     autofocus="autofocus"
                     class="form-control js-branch-name monospace"
                     [(ngModel)]="branchName"
                     formControlName="branchName"
              >
              <div *ngIf="NewBrancheForm.controls['branchName'].invalid && (NewBrancheForm.controls['branchName'].dirty || NewBrancheForm.controls['branchName'].touched)" class="alert alert-danger">
              <div *ngIf="NewBrancheForm.controls['branchName'].errors.required">
                Name is required.
              </div>
              <div *ngIf="NewBrancheForm.controls['branchName'].errors">
                Please insert a valid branch name
              </div>
            </div>
              <div class="form-text text-muted text-danger js-branch-name-error"></div>

            </div>
          </div>
          <div class="form-group row">
            <label class="col-form-label col-sm-2" for="ref">Create from</label>
            <div class="col-sm-10 create-from">


              <div class="dropdown">
                <input type="hidden" name="ref" id="ref" value="master">
                <button name="button" type="button" title="master"
                        class="dropdown-menu-toggle wide js-branch-select monospace" required="required"
                        data-toggle="dropdown" data-selected="master" data-field-name="ref" aria-expanded="false">
                  <div *ngIf="selectedBranche" class="text-left dropdown-toggle-text">
                    {{selectedBranche.name}}</div>
                  <i aria-hidden="true" data-hidden="true" class="fa fa-chevron-down"></i>
                </button>
                <div class="dropdown-menu dropdown-menu-selectable git-revision-dropdown wide"
                     x-placement="bottom-start"
                     style="position: absolute; transform: translate3d(0px, 35px, 0px); top: 0px; left: 0px; will-change: transform;">
                  <div class="dropdown-title"><span>Select Git Branche</span>
                    <button class="dropdown-title-button dropdown-menu-close" aria-label="Close" type="button"><i
                      aria-hidden="true" data-hidden="true" class="fa fa-times dropdown-menu-close-icon"></i></button>
                  </div>
                  <div class="dropdown-input"><input type="search" id="" class="dropdown-input-field"
                                                     placeholder="Filter by Branche Name" autocomplete="off"><i
                    aria-hidden="true" data-hidden="true" class="fa fa-search dropdown-input-search"></i><i
                    aria-hidden="true" data-hidden="true" role="button"
                    class="fa fa-times dropdown-input-clear js-dropdown-input-clear"></i></div>


                  <div class="dropdown-content">
                    <ul>
                      <li *ngFor=" let branche of project.branched"
                          (click)="onSelect(branche)">
                        <span class="badge"></span> {{branche.name}}
                      </li>
                    </ul>
                  </div>


                </div>

              </div>
              <div class="form-text text-muted">Existing branch name, tag, or commit SHA</div>
            </div>
          </div>

          <div class="form-actions">
            <button name="button" type="submit" class="btn btn-success" tabindex="3" (click)="createBranche()">
              Create branch
            </button>
            <a class="btn btn-cancel">Cancel</a>
          </div>
        </form>

      </div>
    </div>
  </div>
</div>
