

<header class="navbar navbar-gitlab qa-navbar navbar-expand-sm js-navbar  ">
  <a class="sr-only gl-accessibility" href="#content-body" tabindex="1">Skip to content</a>
  <div class="container-fluid">
    <div class="header-content">
      <div class="title-container">
        <h1 class="title">
          <a title="Dashboard" id="logo" href="/">
            
            <img src="../../../assets/Images/gitwave.png">

            <span class="logo-text d-none d-lg-block prepend-left-8">


            </span>
          </a></h1>
        <ul class="list-unstyled navbar-sub-nav" >
          <li class="home" routerLinkActive="active-link">
            <a title="Projects" class="dashboard-shortcuts-projects" routerLink="/">Projects
            </a></li>
          <li class="" routerLinkActive="active" >
            <a title="Groups" class="dashboard-shortcuts-groups" routerLink="/profile">profile
            </a></li>

          <li routerLinkActive="active">
            <a title="Help Page"
               [routerLink]="['/help']">
              Help
            </a>
          </li>
        </ul>

      </div>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">

          <li class="nav-item d-inline-block d-sm-none d-md-none">
            <a title="Search" aria-label="Search" data-toggle="tooltip" data-placement="bottom" data-container="body">
              <i class="fal fa-search"></i>
            </a>
          </li>
          <li class="nav-item header-help dropdown">
            <a class="header-help-dropdown-toggle" data-toggle="dropdown" [routerLink]="['/help']">
              <i class="fas fa-question-circle"></i>
              <i class="fal fa-chevron-down"></i>
            </a>
            <div class="dropdown-menu dropdown-menu-right">
              <ul>
                <li>
                  <a [routerLink]="['/help']">Help</a>
                </li>
                <li class="divider"></li>
                <li>
                  <a [routerLink]="['/help']">Submit feedback (Comming soon)</a>
                </li>
              </ul>

            </div>
          </li>

          <li *ngIf="currentUser"
              class="nav-item header-user dropdown" data-track-event="click_dropdown" data-track-label="profile_dropdown">

            <a class="header-user-dropdown-toggle" data-toggle="dropdown" href="https://gitlab.com/wildchild?nav_source=navbar" aria-expanded="true"><img width="23" height="23" class="header-user-avatar qa-user-avatar js-lazy-loaded qa-js-lazy-loaded" src="https://secure.gravatar.com/avatar/71a311b16fb1a66d3cb621bfb95bfd4b?s=46&amp;d=identicon">
              <svg class="caret-down"><use xlink:href="https://gitlab.com/assets/icons-24aaa921aa9e411162e6913688816c79861d0de4bee876cf6fc4c794be34ee91.svg#angle-down"></use></svg>
            </a>


            <div class="dropdown-menu dropdown-menu-right ">
              <ul>
                <li class="current-user">
                  <div class="user-name bold">
                    {{currentUser.username}}
                  </div>
                </li>
                <li class="divider"></li>

                <li>
                  <a class="profile-link"  [routerLink]="['/profile']" >Profile</a>
                </li>

                <li class="divider"></li>
                <li>
                  <a class="sign-out-link" (click)="logout()" >Sign out</a>
                </li>
              </ul>

            </div>


          </li>

          <li *ngIf="!currentUser" class="nav-item">
            <div>
              <a class="btn btn-sign-in" routerLink="/profile">
                SIGN IN / REGISTER
              </a>
            </div>
          </li>
        </ul>
      </div>
      <button class="navbar-toggler d-block d-sm-none" type="button">
        <span class="sr-only">Toggle navigation</span>
        <svg class="s12 more-icon js-navbar-toggle-right">
          <use
            xlink:href="CodeOne/assets/icons-24aaa921aa9e411162e6913688816c79861d0de4bee876cf6fc4c794be34ee91.svg#ellipsis_h"></use>
        </svg>
        <svg class="s12 close-icon js-navbar-toggle-left">
          <use
            xlink:href="CodeOne/assets/icons-24aaa921aa9e411162e6913688816c79861d0de4bee876cf6fc4c794be34ee91.svg#close"></use>
        </svg>
      </button>
    </div>
  </div>
</header>

