﻿﻿﻿﻿


<!-- main app container -->
<div class="jumbotron">
  <div class="container col-8">
    <alert></alert>
    <router-outlet></router-outlet>
  </div>
</div>

<!-- credits -->
<div class="text-center">

</div>
