<app-navbar></app-navbar>
<div class="content-wrapper">

  <div class="alert-wrapper">

    <nav class="breadcrumbs container-fluid container-limited" role="navigation">
      <div class="breadcrumbs-container">
        <button name="button" type="button" class="toggle-mobile-nav"><span class="sr-only">Open sidebar</span>
          <i aria-hidden="true" data-hidden="true" class="fa fa-bars"></i>
        </button><div class="breadcrumbs-links js-title-container">
        <ul class="list-unstyled breadcrumbs-list js-breadcrumbs-list">
          <li>
            <a [routerLink]="['/project']">{{currentUser.username}}</a><svg class="s8 breadcrumbs-list-angle"><use xlink:href="https://gitlab.com/assets/icons-24aaa921aa9e411162e6913688816c79861d0de4bee876cf6fc4c794be34ee91.svg#angle-right"></use></svg></li> <li><a [routerLink]="['/project/'+currentUser.username+'/'+currentProject.name]"><span class="breadcrumb-item-text js-breadcrumb-item-text">{{currentProject.name}}</span></a><svg class="s8 breadcrumbs-list-angle"><use xlink:href="https://gitlab.com/assets/icons-24aaa921aa9e411162e6913688816c79861d0de4bee876cf6fc4c794be34ee91.svg#angle-right"></use></svg></li>
          <li>
            <h2 class="breadcrumbs-sub-title">Issues</h2>
          </li>
        </ul>
      </div>

      </div>
    </nav>

    <div class="flash-container flash-container-page">
    </div>

    <div class="d-flex"></div>
  </div>
  <div class=" ">
    <div class="content" id="content-body">
      <div class="container-fluid container-limited">
        <div class="top-area">
          <ul class="nav-links issues-state-filters mobile-separator nav nav-tabs"><li class="active">
            <a id="state-all" title="Show all issues." data-state="all" ><span>All</span> <span class="badge badge-pill">{{issuess?.length}}</span>
            </a></li>
          </ul>

          <div class="nav-controls issues-nav-controls">
            <a class="btn btn-success" title="New issue"
               id="new_issue_link"  [routerLink]="['/project/'+currentProject.link_identifier+'/issues/new']">New issue</a>
          </div>
          <div class="issues-export-modal modal promotion-modal">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <a class="close" data-dismiss="modal" href="#">×</a>
                </div>
                <div class="modal-body center">
                  <div>
                    <div class="svg-container">
                      <svg xmlns="http://www.w3.org/2000/svg" width="78" height="82" viewBox="0 0 78 82"><g fill="none" fill-rule="evenodd"><path fill="#F9F9F9" d="M2.12 42c-.08.99-.12 1.99-.12 3 0 20.435 16.565 37 37 37s37-16.565 37-37c0-1.01-.04-2.01-.12-3C74.353 61.032 58.425 76 39 76 19.575 76 3.647 61.032 2.12 42z"></path><path fill="#EEE" fill-rule="nonzero" d="M39 78C17.46 78 0 60.54 0 39S17.46 0 39 0s39 17.46 39 39-17.46 39-39 39zm0-4c19.33 0 35-15.67 35-35S58.33 4 39 4 4 19.67 4 39s15.67 35 35 35z"></path><path fill="#E1DBF2" fill-rule="nonzero" d="M45 23c-1.312 0-2.593.23-3.795.673A10.982 10.982 0 0 0 33 20c-5.8 0-10.553 4.49-10.97 10.184A11.003 11.003 0 0 0 16 40c0 6.075 4.925 11 11 11h1.042a2 2 0 1 0 0-4H27a7 7 0 0 1-2.323-13.606 2 2 0 0 0 1.334-1.998 7 7 0 0 1 12.89-4.163 2 2 0 0 0 2.667.664A7.004 7.004 0 0 1 51.7 31.966a2 2 0 0 0 1.334 1.334A7 7 0 0 1 51 47h-.94a2 2 0 1 0 0 4H51c6.075 0 11-4.925 11-11 0-4.524-2.754-8.51-6.822-10.178A11.005 11.005 0 0 0 45 23z"></path><path fill="#6B4FBB" d="M41 53V43a2 2 0 1 0-4 0v10h-2.796a1 1 0 0 0-.753 1.659l4.796 5.48a1 1 0 0 0 1.506 0l4.796-5.48A1 1 0 0 0 43.796 53H41z"></path></g></svg>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>


          <div class="issues-import-modal modal">
            <div class="modal-dialog">
              <div class="modal-content">
                <form enctype="multipart/form-data"  accept-charset="UTF-8" method="post"><input name="utf8" type="hidden" value="✓"><input type="hidden" name="authenticity_token" value="PQFcbIIxeuDb0rLfhU7O7fScH6hyk9xxsgM83mWTuoYkBNBLGnttFQGln/Xk1nerlT0Y2tzI4rfZSnc4MgvXOA=="><div class="modal-header">
                  <h3>
                    Import issues
                  </h3>
                  <div class="svg-content import-export-svg-container">
                    <img alt="Import/Export illustration" class="illustration lazy" data-src="https://assets.gitlab-static.net/assets/illustrations/export-import-ac84b94ba1eb40893c731932858ecb85ea50aec45b38ccd09ffc45e2beecc8e2.svg" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==">
                  </div>
                  <a class="close" data-dismiss="modal" href="#">×</a>
                </div>
                  <div class="modal-body">
                    <div class="modal-text">
                      <p>
                        Your issues will be imported in the background. Once finished, you'll get a confirmation email.
                      </p>
                      <div class="form-group">
                        <label class="label-bold" for="file">Upload CSV file</label>
                        <div>
                          <input type="file" name="file" id="file" accept=".csv,text/csv" required="required">
                        </div>
                      </div>
                      <p class="text-secondary">
                        It must have a header row and at least two columns: the first column is the issue title and the second column is the issue description. The separator is automatically detected.
                        The maximum file size allowed is 10 MB.
                      </p>
                    </div>
                  </div>
                  <div class="modal-footer">
                    <button class="btn btn-success" data-track-event="click_button" data-track-label="export_issues_csv" title="Import issues" type="submit">
                      Import issues
                    </button>
                  </div>
                </form></div>
            </div>
          </div>


        </div>


        <aside aria-live="polite" class="issues-bulk-update js-right-sidebar right-sidebar" data-signed-in="">
          <div class="issuable-sidebar hidden">
            <form class="bulk-update" action="/wildchild/gitwaves/issues/bulk_update" accept-charset="UTF-8" method="post"><input name="utf8" type="hidden" value="✓"><input type="hidden" name="authenticity_token" value="PQFcbIIxeuDb0rLfhU7O7fScH6hyk9xxsgM83mWTuoYkBNBLGnttFQGln/Xk1nerlT0Y2tzI4rfZSnc4MgvXOA=="><div class="block issuable-sidebar-header">
              <div class="filter-item inline update-issues-btn float-left">
                <button name="button" type="submit" class="btn update-selected-issues btn-info" disabled="disabled">Update all</button>
              </div>
              <button name="button" type="submit" class="btn btn-default js-bulk-update-menu-hide float-right">Cancel</button>
            </div>
              <div class="block">
                <div class="title">
                  Status
                </div>
                <div class="filter-item">
                  <div class="dropdown "><button class="dropdown-menu-toggle js-issue-status" type="button" data-field-name="update[state_event]" data-default-label="Status" data-toggle="dropdown"><span class="dropdown-toggle-text ">Select status</span><i aria-hidden="true" data-hidden="true" class="fa fa-chevron-down"></i></button><div class="dropdown-menu dropdown-select dropdown-menu-status dropdown-menu-selectable"><div class="dropdown-title"><span>Change status</span><button class="dropdown-title-button dropdown-menu-close" aria-label="Close" type="button"><i aria-hidden="true" data-hidden="true" class="fa fa-times dropdown-menu-close-icon"></i></button></div><div class="dropdown-content "><ul>
                    <li>
                      <a data-id="reopen" href="#">Open</a>
                    </li>
                    <li>
                      <a data-id="close" href="#">Closed</a>
                    </li>
                  </ul>
                  </div><div class="dropdown-loading"><i aria-hidden="true" data-hidden="true" class="fa fa-spinner fa-spin"></i></div></div></div></div>
              </div>
              <div class="block">
                <div class="title">
                  Assignee
                </div>
                <div class="filter-item">
                  <div class="dropdown "><button class="dropdown-menu-toggle js-user-search js-update-assignee js-filter-submit js-filter-bulk-update" type="button" data-first-user="Houssemeddine" data-null-user="true" data-current-user="true" data-project-id="10794519" data-field-name="update[assignee_ids][]" data-toggle="dropdown"><span class="dropdown-toggle-text ">Select assignee</span><i aria-hidden="true" data-hidden="true" class="fa fa-chevron-down"></i></button><div class="dropdown-menu dropdown-select dropdown-menu-user dropdown-menu-selectable"><div class="dropdown-title"><span>Assign to</span><button class="dropdown-title-button dropdown-menu-close" aria-label="Close" type="button"><i aria-hidden="true" data-hidden="true" class="fa fa-times dropdown-menu-close-icon"></i></button></div><div class="dropdown-input"><input type="search" id="" class="dropdown-input-field" placeholder="Search authors" autocomplete="off"><i aria-hidden="true" data-hidden="true" class="fa fa-search dropdown-input-search"></i><i aria-hidden="true" data-hidden="true" role="button" class="fa fa-times dropdown-input-clear js-dropdown-input-clear"></i></div><div class="dropdown-content "></div><div class="dropdown-loading"><i aria-hidden="true" data-hidden="true" class="fa fa-spinner fa-spin"></i></div></div></div>
                </div>
              </div>
              <div class="block">
                <div class="title">
                  Milestone
                </div>
                <div class="filter-item">
                  <div class="dropdown "><button class="dropdown-menu-toggle js-milestone-select js-extra-options js-filter-submit js-filter-bulk-update" type="button" data-show-no="true" data-field-name="update[milestone_id]" data-project-id="10794519" data-milestones="/wildchild/gitwaves/milestones.json" data-use-id="true" data-default-label="Milestone" data-toggle="dropdown"><span class="dropdown-toggle-text ">Select milestone</span><i aria-hidden="true" data-hidden="true" class="fa fa-chevron-down"></i></button><div class="dropdown-menu dropdown-select dropdown-menu-selectable dropdown-menu-milestone"><div class="dropdown-title"><span>Assign milestone</span><button class="dropdown-title-button dropdown-menu-close" aria-label="Close" type="button"><i aria-hidden="true" data-hidden="true" class="fa fa-times dropdown-menu-close-icon"></i></button></div><div class="dropdown-input"><input type="search" id="" class="dropdown-input-field" placeholder="Search milestones" autocomplete="off"><i aria-hidden="true" data-hidden="true" class="fa fa-search dropdown-input-search"></i><i aria-hidden="true" data-hidden="true" role="button" class="fa fa-times dropdown-input-clear js-dropdown-input-clear"></i></div><div class="dropdown-content "></div><div class="dropdown-loading"><i aria-hidden="true" data-hidden="true" class="fa fa-spinner fa-spin"></i></div></div></div>
                </div>
              </div>
              <div class="block">
                <div class="title">
                  Labels
                </div>
                <div class="filter-item labels-filter">
                  <div class="dropdown">
                    <button class="dropdown-menu-toggle js-filter-bulk-update js-label-select js-multiselect qa-issuable-label" data-default-label="Labels" data-field-name="update[label_ids][]" data-labels="/wildchild/gitwaves/labels.json?include_ancestor_groups=true" data-namespace-path="wildchild" data-persist-when-hide="true" data-project-path="gitwaves" data-toggle="dropdown" data-use-id="" type="button">
<span class="dropdown-toggle-text">
Select labels
</span>
                      <i aria-hidden="true" data-hidden="true" class="fa fa-chevron-down"></i>
                    </button>
                    <div class="dropdown-menu dropdown-select dropdown-menu-paging dropdown-menu-labels dropdown-menu-selectable">
                      <div class="dropdown-page-one">
                        <div class="dropdown-title"><span>Apply a label</span><button class="dropdown-title-button dropdown-menu-close" aria-label="Close" type="button"><i aria-hidden="true" data-hidden="true" class="fa fa-times dropdown-menu-close-icon"></i></button></div>
                        <div class="dropdown-input">
                          <input type="search" id="" class="dropdown-input-field" placeholder="Search" autocomplete="off"><i aria-hidden="true" data-hidden="true" class="fa fa-search dropdown-input-search"></i><i aria-hidden="true" data-hidden="true" role="button" class="fa fa-times dropdown-input-clear js-dropdown-input-clear"></i></div>
                        <div class="dropdown-content"></div>
                        <div class="dropdown-loading"><i aria-hidden="true" data-hidden="true" class="fa fa-spinner fa-spin"></i></div>
                      </div>

                      <div class="dropdown-loading"><i aria-hidden="true" data-hidden="true" class="fa fa-spinner fa-spin"></i></div>
                    </div>
                  </div>

                </div>
              </div>
              <div class="block">
                <div class="title">
                  Subscriptions
                </div>
                <div class="filter-item">
                  <div class="dropdown "><button class="dropdown-menu-toggle js-subscription-event" type="button" data-field-name="update[subscription_event]" data-default-label="Subscription" data-toggle="dropdown"><span class="dropdown-toggle-text ">Select subscription</span><i aria-hidden="true" data-hidden="true" class="fa fa-chevron-down"></i></button><div class="dropdown-menu dropdown-select dropdown-menu-selectable"><div class="dropdown-title"><span>Change subscription</span><button class="dropdown-title-button dropdown-menu-close" aria-label="Close" type="button"><i aria-hidden="true" data-hidden="true" class="fa fa-times dropdown-menu-close-icon"></i></button></div><div class="dropdown-content "><ul>
                    <li>
                      <a data-id="subscribe" href="#">Subscribe</a>
                    </li>
                    <li>
                      <a data-id="unsubscribe" href="#">Unsubscribe</a>
                    </li>
                  </ul>
                  </div><div class="dropdown-loading"><i aria-hidden="true" data-hidden="true" class="fa fa-spinner fa-spin"></i></div></div></div></div>
              </div>
              <input type="hidden" name="update[issuable_ids]" id="update_issuable_ids" value="">
              <input type="hidden" name="state_event" id="state_event">
            </form></div>
        </aside>

        <div class="issues-holder">
          <ul class="content-list issues-list issuable-list" >
            <li class="issue today"  *ngFor="let issue of issuess">
              <div class="issue-box">
                <div class="issuable-info-container">
                  <div class="issuable-main-info">
                    <div class="issue-title title">
<span class="issue-title-text">
  <a [routerLink]="['/project/'+currentProject.link_identifier+'/issue/'+issue._id]">{{issue.name}}</a>
</span>
                    </div>
                    <div class="issuable-info">

                      <span class="issuable-authored d-none d-sm-inline-block">
·
opened <time class="js-timeago" title="" datetime="2019-04-10T19:01:09Z" data-toggle="tooltip" data-placement="bottom" data-container="body" data-tid="4" data-original-title="Apr 10, 2019 7:01pm">{{issue.created_at}}</time>
by <a class="author-link js-user-link  " data-user-id="1146676" data-username="Houssemeddine" data-name="marnissi"data-original-title="" title="" aria-describedby="__BV_popover_1__"><span class="author">{{currentUser.username}}</span></a>
</span>
                    </div>
                  </div>
                  <div class="issuable-meta">
                    <ul class="controls">
                      <li>
                        <a class="author-link has-tooltip" title="Assigned to marnissi" data-container="body"[routerLink]="['/project/'+currentProject.link_identifier+'/issue/'+issue._id]" ><img width="16" class="avatar avatar-inline s16 js-lazy-loaded qa-js-lazy-loaded" alt="" src="https://secure.gravatar.com/avatar/d13d11a0d367288dadae6d389b08f09a?s=32&amp;d=identicon"></a>

                      </li>
                      <li class="issuable-comments d-none d-sm-block">
                        <a class="has-tooltip " title="Comments" [routerLink]="['/project/'+currentProject.link_identifier+'/issue/'+issue._id]"><i aria-hidden="true" data-hidden="true" class="fa fa-comments"></i>

                        </a></li>

                    </ul>

                  </div>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>

    </div>
  </div>
</div>
<ul>

</ul>
