<app-navbar></app-navbar>

<div class="content-block-small">

  <div class="alert-wrapper">


    <nav class="breadcrumbs container-fluid container-limited" role="navigation">
      <div class="breadcrumbs-container">
        <button name="button" type="button" class="toggle-mobile-nav"><span class="sr-only">Open sidebar</span>
          <i aria-hidden="true" data-hidden="true" class="fa fa-bars"></i>
        </button>
        <div class="breadcrumbs-links js-title-container">
          <ul class="list-unstyled breadcrumbs-list js-breadcrumbs-list">
            <li><a >{{currentUser?.username}}</a>
              <svg class="s8 breadcrumbs-list-angle">
                <use
                  xlink:href="https://gitlab.com/assets/icons-b2073af7ca0641787eb4596951b695079519da1937a262a886bb12c2b0fac181.svg#angle-right"></use>
              </svg>
            </li>
            <li><a ><span class="breadcrumb-item-text js-breadcrumb-item-text">{{currentProject?.name}}</span></a>
              <svg class="s8 breadcrumbs-list-angle">
                <use
                  xlink:href="https://gitlab.com/assets/icons-b2073af7ca0641787eb4596951b695079519da1937a262a886bb12c2b0fac181.svg#angle-right"></use>
              </svg>
            </li>

            <li>
              <h2 class="breadcrumbs-sub-title"><a >Graph</a></h2>
            </li>
          </ul>
        </div>

      </div>
    </nav>

    <div class="flash-container flash-container-page">
    </div>

    <div class="d-flex"></div>
  </div>
  <div class="content-block-small" id="content-body">
    <div class="container-fluid container-limited">
      <div class="row-content-block second-block content-component-block">
        <div class="tree-ref-holder">
          <div class="form-group row">
            <label class="col-form-label col-sm-2" for="ref">Select Branche</label>
            <div class="col-sm-10 create-from">


              <div class="dropdown">
                <input type="hidden" name="ref" id="ref" value="master">
                <button name="button" type="button" title="master"
                        class="dropdown-menu-toggle wide js-branch-select monospace" required="required"
                        data-toggle="dropdown" data-selected="master" data-field-name="ref" aria-expanded="false">
                  <div *ngIf="selectedBranche" class="text-left dropdown-toggle-text">
                    {{selectedBranche.name}}</div>
                  <i aria-hidden="true" data-hidden="true" class="fa fa-chevron-down"></i>
                </button>
                <div class="dropdown-menu dropdown-menu-selectable git-revision-dropdown wide"
                     x-placement="bottom-start"
                     style="position: absolute; transform: translate3d(0px, 35px, 0px); top: 0px; left: 0px; will-change: transform;">
                  <div class="dropdown-title"><span>Select Git Branche</span>
                    <button class="dropdown-title-button dropdown-menu-close" aria-label="Close" type="button"><i
                      aria-hidden="true" data-hidden="true" class="fa fa-times dropdown-menu-close-icon"></i></button>
                  </div>
                  <div class="dropdown-input"><input type="search" id="" class="dropdown-input-field"
                                                     placeholder="Filter by Branche Name" autocomplete="off"><i
                    aria-hidden="true" data-hidden="true" class="fa fa-search dropdown-input-search"></i><i
                    aria-hidden="true" data-hidden="true" role="button"
                    class="fa fa-times dropdown-input-clear js-dropdown-input-clear"></i>
                  </div>


                  <div class="dropdown-content">
                    <ul>
                      <li *ngFor=" let branche of project.branched"
                          (click)="onSelect(branche)">
                        <a>
                          <span class="badge"></span> {{branche.name}}
                        </a>
                      </li>
                    </ul>
                  </div>


                </div>

              </div>
              <div class="form-text text-muted">Existing branch name, tag, or commit SHA</div>
            </div>
          </div>
        </div>
        <div class="oneline">
          You can move around the graph by using the arrow keys.
        </div>
      </div>
    </div>

    <div class="container-fluid container-limited" [hidden]="!selectedBranche">
      <div class="project-network">

        <div class="network-graph" data-commit-id="9bed3e462dd8f46fad25cb3af61b28ebf27b9013"
             data-commit-url="/wildchild/gitwaves/commit/%s" data-ref="master"
             data-url="/wildchild/gitwaves/network/master?extended_sha1=&amp;filter_ref=1&amp;format=json"
             style="height: 445px;">
          <svg height="1130" version="1.1" width="1095" xmlns="http://www.w3.org/2000/svg"
               xmlns:xlink="http://www.w3.org/1999/xlink" style="overflow: hidden; position: relative;">
            <desc style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">Created with Raphaël 2.2.0</desc>
            <defs style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></defs>
            <path fill="#000000" stroke="none" d="M175,20L185,24L185,16Z" fill-opacity="0.5"
                  style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); fill-opacity: 0.5;"></path>
            <rect x="0" y="0" width="40" height="1310" rx="0" ry="0" fill="#222222" stroke="#000"
                  style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></rect>
            <rect x="40" y="0" width="30" height="1310" rx="0" ry="0" fill="#444444" stroke="#000"
                  style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></rect>
            <text x="55" y="20" text-anchor="middle" font-family="&quot;Arial&quot;" font-size="10px" stroke="none"
                  fill="#bbbbbb"
                  style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: middle; font: 12px Monaco, monospace;"
                  font="12px Monaco, monospace">
              <tspan dy="4" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">16</tspan>
            </text>
            <text x="20" y="20" text-anchor="middle" font-family="&quot;Arial&quot;" font-size="10px" stroke="none"
                  fill="#eeeeee"
                  style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: middle; font: 12px Monaco, monospace;"
                  font="12px Monaco, monospace">
              <tspan dy="4" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">Apr</tspan>
            </text>
            <text x="55" y="140" text-anchor="middle" font-family="&quot;Arial&quot;" font-size="10px" stroke="none"
                  fill="#bbbbbb"
                  style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: middle; font: 12px Monaco, monospace;"
                  font="12px Monaco, monospace">
              <tspan dy="4" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">10</tspan>
            </text>
            <text x="55" y="170" text-anchor="middle" font-family="&quot;Arial&quot;" font-size="10px" stroke="none"
                  fill="#bbbbbb"
                  style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: middle; font: 12px Monaco, monospace;"
                  font="12px Monaco, monospace">
              <tspan dy="4" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">9</tspan>
            </text>
            <text x="55" y="200" text-anchor="middle" font-family="&quot;Arial&quot;" font-size="10px" stroke="none"
                  fill="#bbbbbb"
                  style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: middle; font: 12px Monaco, monospace;"
                  font="12px Monaco, monospace">
              <tspan dy="4" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">7</tspan>
            </text>
            <text x="55" y="230" text-anchor="middle" font-family="&quot;Arial&quot;" font-size="10px" stroke="none"
                  fill="#bbbbbb"
                  style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: middle; font: 12px Monaco, monospace;"
                  font="12px Monaco, monospace">
              <tspan dy="4" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">6</tspan>
            </text>
            <text x="55" y="290" text-anchor="middle" font-family="&quot;Arial&quot;" font-size="10px" stroke="none"
                  fill="#bbbbbb"
                  style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: middle; font: 12px Monaco, monospace;"
                  font="12px Monaco, monospace">
              <tspan dy="4" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">3</tspan>
            </text>
            <text x="55" y="320" text-anchor="middle" font-family="&quot;Arial&quot;" font-size="10px" stroke="none"
                  fill="#bbbbbb"
                  style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: middle; font: 12px Monaco, monospace;"
                  font="12px Monaco, monospace">
              <tspan dy="4" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">29</tspan>
            </text>
            <text x="20" y="320" text-anchor="middle" font-family="&quot;Arial&quot;" font-size="10px" stroke="none"
                  fill="#eeeeee"
                  style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: middle; font: 12px Monaco, monospace;"
                  font="12px Monaco, monospace">
              <tspan dy="4" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">Mar</tspan>
            </text>
            <text x="55" y="380" text-anchor="middle" font-family="&quot;Arial&quot;" font-size="10px" stroke="none"
                  fill="#bbbbbb"
                  style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: middle; font: 12px Monaco, monospace;"
                  font="12px Monaco, monospace">
              <tspan dy="4" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">27</tspan>
            </text>
            <text x="55" y="410" text-anchor="middle" font-family="&quot;Arial&quot;" font-size="10px" stroke="none"
                  fill="#bbbbbb"
                  style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: middle; font: 12px Monaco, monospace;"
                  font="12px Monaco, monospace">
              <tspan dy="4" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">26</tspan>
            </text>
            <text x="55" y="500" text-anchor="middle" font-family="&quot;Arial&quot;" font-size="10px" stroke="none"
                  fill="#bbbbbb"
                  style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: middle; font: 12px Monaco, monospace;"
                  font="12px Monaco, monospace">
              <tspan dy="4" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">5</tspan>
            </text>
            <text x="55" y="530" text-anchor="middle" font-family="&quot;Arial&quot;" font-size="10px" stroke="none"
                  fill="#bbbbbb"
                  style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: middle; font: 12px Monaco, monospace;"
                  font="12px Monaco, monospace">
              <tspan dy="4" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">4</tspan>
            </text>
            <text x="55" y="560" text-anchor="middle" font-family="&quot;Arial&quot;" font-size="10px" stroke="none"
                  fill="#bbbbbb"
                  style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: middle; font: 12px Monaco, monospace;"
                  font="12px Monaco, monospace">
              <tspan dy="4" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">26</tspan>
            </text>
            <text x="20" y="560" text-anchor="middle" font-family="&quot;Arial&quot;" font-size="10px" stroke="none"
                  fill="#eeeeee"
                  style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: middle; font: 12px Monaco, monospace;"
                  font="12px Monaco, monospace">
              <tspan dy="4" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">Feb</tspan>
            </text>
            <text x="55" y="650" text-anchor="middle" font-family="&quot;Arial&quot;" font-size="10px" stroke="none"
                  fill="#bbbbbb"
                  style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: middle; font: 12px Monaco, monospace;"
                  font="12px Monaco, monospace">
              <tspan dy="4" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">16</tspan>
            </text>
            <text x="55" y="680" text-anchor="middle" font-family="&quot;Arial&quot;" font-size="10px" stroke="none"
                  fill="#bbbbbb"
                  style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: middle; font: 12px Monaco, monospace;"
                  font="12px Monaco, monospace">
              <tspan dy="4" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">11</tspan>
            </text>
            <text x="55" y="830" text-anchor="middle" font-family="&quot;Arial&quot;" font-size="10px" stroke="none"
                  fill="#bbbbbb"
                  style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: middle; font: 12px Monaco, monospace;"
                  font="12px Monaco, monospace">
              <tspan dy="4" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">27</tspan>
            </text>
            <text x="20" y="830" text-anchor="middle" font-family="&quot;Arial&quot;" font-size="10px" stroke="none"
                  fill="#eeeeee"
                  style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: middle; font: 12px Monaco, monospace;"
                  font="12px Monaco, monospace">
              <tspan dy="4" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">Jul</tspan>
            </text>
            <text x="55" y="860" text-anchor="middle" font-family="&quot;Arial&quot;" font-size="10px" stroke="none"
                  fill="#bbbbbb"
                  style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: middle; font: 12px Monaco, monospace;"
                  font="12px Monaco, monospace">
              <tspan dy="4" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">4</tspan>
            </text>
            <text x="20" y="860" text-anchor="middle" font-family="&quot;Arial&quot;" font-size="10px" stroke="none"
                  fill="#eeeeee"
                  style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: middle; font: 12px Monaco, monospace;"
                  font="12px Monaco, monospace">
              <tspan dy="4" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">Oct</tspan>
            </text>
            <text x="55" y="890" text-anchor="middle" font-family="&quot;Arial&quot;" font-size="10px" stroke="none"
                  fill="#bbbbbb"
                  style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: middle; font: 12px Monaco, monospace;"
                  font="12px Monaco, monospace">
              <tspan dy="4" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">2</tspan>
            </text>
            <text x="55" y="920" text-anchor="middle" font-family="&quot;Arial&quot;" font-size="10px" stroke="none"
                  fill="#bbbbbb"
                  style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: middle; font: 12px Monaco, monospace;"
                  font="12px Monaco, monospace">
              <tspan dy="4" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">3</tspan>
            </text>
            <text x="20" y="920" text-anchor="middle" font-family="&quot;Arial&quot;" font-size="10px" stroke="none"
                  fill="#eeeeee"
                  style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: middle; font: 12px Monaco, monospace;"
                  font="12px Monaco, monospace">
              <tspan dy="4" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">Aug</tspan>
            </text>
            <text x="55" y="950" text-anchor="middle" font-family="&quot;Arial&quot;" font-size="10px" stroke="none"
                  fill="#bbbbbb"
                  style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: middle; font: 12px Monaco, monospace;"
                  font="12px Monaco, monospace">
              <tspan dy="4" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">6</tspan>
            </text>
            <text x="20" y="950" text-anchor="middle" font-family="&quot;Arial&quot;" font-size="10px" stroke="none"
                  fill="#eeeeee"
                  style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: middle; font: 12px Monaco, monospace;"
                  font="12px Monaco, monospace">
              <tspan dy="4" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">Jul</tspan>
            </text>
            <text x="55" y="980" text-anchor="middle" font-family="&quot;Arial&quot;" font-size="10px" stroke="none"
                  fill="#bbbbbb"
                  style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: middle; font: 12px Monaco, monospace;"
                  font="12px Monaco, monospace">
              <tspan dy="4" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">3</tspan>
            </text>
            <circle cx="170" cy="20" r="3" fill="#cc0000" stroke="none"
                    style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle>
            <rect x="190" y="10" width="20" height="20" rx="0" ry="0" fill="none" stroke="#cc0000" stroke-width="2"
                  style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></rect>
            <image x="190" y="10" width="20" height="20" preserveAspectRatio="none"
                   xlink:href="https://secure.gravatar.com/avatar/d13d11a0d367288dadae6d389b08f09a?s=40&amp;d=identicon"
                   style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></image>
            <text x="215" y="20" text-anchor="start" font-family="&quot;Arial&quot;" font-size="10px" stroke="none"
                  fill="#000000"
                  style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: start; font: 14px Monaco, monospace;"
                  font="14px Monaco, monospace">
              <tspan dy="4.5" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">clone from branche master
              </tspan>
            </text>
            <path fill="none" stroke="#cc0000" d="M170,25L170,50" stroke-width="2"
                  style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></path>
            <path fill="none" stroke="#00cc8f" d="M167,23L162,23L164,27L167,23L163,25L150,30L150,75L150,80"
                  stroke-width="2" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></path>
            <rect x="170" y="13" width="38.484375" height="17" rx="4" ry="4" fill="#000000" stroke="none"
                  fill-opacity="0.5" transform="matrix(1,0,0,1,-53.4844,0)"
                  style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); fill-opacity: 0.5;"></rect>
            <path fill="#000000" stroke="none" d="M165,20L155,16L155,24Z" fill-opacity="0.5"
                  style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); fill-opacity: 0.5;"></path>
            <text x="174" y="20" text-anchor="start" font-family="&quot;Arial&quot;" font-size="10px" stroke="none"
                  fill="#ffffff"
                  style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: start; font: 10px Monaco, monospace;"
                  font="10px Monaco, monospace" transform="matrix(1,0,0,1,-53.4844,0)">
              <tspan dy="3" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">{{selectedBranche?.name}} </tspan>
              <title style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">master</title></text>

<a *ngFor="let commit of commits ">
            <circle cx="170" [attr.cy] ="20+getval()" r="3" fill="#cc0000" stroke="none"
                    style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"  ></circle>
            <rect x="190" [attr.y] ="10+val" width="20" height="20" rx="0" ry="0" fill="none" stroke="#cc0000" stroke-width="2"
                  style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></rect>
            <image x="190" [attr.y] ="10+val" width="20" height="20" preserveAspectRatio="none"
                   xlink:href="https://secure.gravatar.com/avatar/d13d11a0d367288dadae6d389b08f09a?s=40&amp;d=identicon"
                   style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></image>
            <text x="215"[attr.y] ="20+val" text-anchor="start" font-family="&quot;Arial&quot;" font-size="10px" stroke="none"
                  fill="#000000"
                  style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: start; font: 14px Monaco, monospace;"
                  font="14px Monaco, monospace">
              <tspan dy="4.5" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">{{commit?.name}} </tspan>
            </text>
            <path fill="none" stroke="#cc0000" d="M170,55L170,110" stroke-width="2"
                  style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></path>
</a>


          </svg>

          <div class="loading" style="display: none;"><i aria-hidden="true" data-hidden="true"
                                                         class="fa fa-spinner fa-spin"></i></div>
        </div>
      </div>
    </div>

  </div>
</div>

