<app-menu></app-menu>

<h1>Hi {{currentUser.username}}!</h1>

<div class=" ">
  <div class="content" id="content-body">

    <div class="container-fluid container-limited">

      <div class="page-title-holder">
        <h1 class="page-title">Projects</h1>
        <div class="page-title-controls">
          <a class="btn btn-success" routerLink="../project/new">New project</a>
        </div>
      </div>
      <div class="top-area scrolling-tabs-container inner-page-scroll-tabs">
        <div class="fade-left"><i aria-hidden="true" data-hidden="true" class="fa fa-angle-left"></i></div>
        <div class="fade-right scrolling"><i aria-hidden="true" data-hidden="true" class="fa fa-angle-right"></i></div>
        <ul class="nav-links scrolling-tabs mobile-separator nav n40av-tabs is-initialized">
          <li class="active"><a class="shortcuts-activity" data-placement="right">Projects
            <span class="badge badge-pill">{{ loadedProjects?.length }}</span>
          </a></li>

          <li class=""><a data-placement="right"  [routerLink]="['/explore']">Explore projects
          </a></li>
        </ul>
        <div class="nav-controls">



        </div>
      </div>

      <div class="nav-block">
        <ul class="nav-links mobile-separator nav nav-tabs">
          <li class="active"><a [routerLink] = "['/explore']">All</a>
          </li>
          <li class=""><a [routerLink] = "['/']">Personal</a>
          </li>
        </ul>
      </div>

      <div class="js-projects-list-holder">

        <ul class="projects-list">

          <li class="d-flex project-row" *ngFor="let model of loadedProjects">
            <div class="avatar-container s48 flex-grow-0 flex-shrink-0">

              <a class="project"
                 [routerLink]="['/project/'+model.link_identifier]"
              >
                <div class="avatar project-avatar s48 identicon bg2">{{model.name[0]}}</div>
              </a>

            </div>
            <div class="project-details d-sm-flex flex-sm-fill align-items-center">
              <div class="flex-wrapper">
                <div class="d-flex align-items-center flex-wrap project-title">
                  <h2 class="d-flex prepend-top-8">
                    <a class="text-plain"
                       [routerLink]="['/project/'+model.link_identifier]"><span
                      class="project-full-name append-right-8">
<span class="project-name">{{model.link_identifier}}</span></span></a></h2>
                  <span class="metadata-info visibility-icon append-right-10 prepend-top-8 has-tooltip"
                        data-container="body" data-placement="top"
                        title="">
<i aria-hidden="true" data-hidden="true" class="fa fa-lock fa-fw"></i>
</span>

                  <div class="metadata-info prepend-top-8">
                    <span class="user-access-role d-block">{{model.current_user_role}}</span>
                  </div>
                </div>
                <div class="description d-none d-sm-block append-right-default">
                  <p data-sourcepos="1:1-1:7" dir="auto">{{model.description}}</p>
                </div>
              </div>
              <div
                class="align-items-center align-items-sm-end controls d-flex flex-lg-row flex-shrink-0 flex-sm-column flex-wrap justify-content-lg-between">

                <div class="updated-note">
                                    <span>Updated
                                      {{ model.last_update.toString() |  timeAgo}}
                                    </span>
                </div>
              </div>
            </div>
          </li>
        </ul>

      </div>

    </div>

  </div>
</div>
