<app-navbar></app-navbar>


<div class="mobile-overlay"></div>
<div class="alert-wrapper">


  <nav class="breadcrumbs container-fluid container-limited limit-container-width" role="navigation">
    <div class="breadcrumbs-container">
      <button name="button" type="button" class="toggle-mobile-nav"><span class="sr-only">Open sidebar</span>
        <i aria-hidden="true" data-hidden="true" class="fa fa-bars"></i>
      </button>
      <div class="breadcrumbs-links js-title-container">
        <ul class="list-unstyled breadcrumbs-list js-breadcrumbs-list">
          <li>
            <a *ngIf="project" [routerLink]="['/'+project?.creator_id.username]">{{project?.creator_id.username}}</a>
            <svg class="s8 breadcrumbs-list-angle">
              <use
                xlink:href="https://gitlab.com/assets/icons-24aaa921aa9e411162e6913688816c79861d0de4bee876cf6fc4c794be34ee91.svg#angle-right"></use>
            </svg>
          </li>
          <li><a href="CodeOne.html"><span class="breadcrumb-item-text js-breadcrumb-item-text">{{project?.name}}</span></a>
            <svg class="s8 breadcrumbs-list-angle">
              <use
                xlink:href="https://gitlab.com/assets/icons-24aaa921aa9e411162e6913688816c79861d0de4bee876cf6fc4c794be34ee91.svg#angle-right"></use>
            </svg>
          </li>

          <li>
            <h2 class="breadcrumbs-sub-title"><a href="CodeOne.html">Details</a></h2>
          </li>
        </ul>
      </div>

    </div>
  </nav>

  <div class="flash-container flash-container-page">
  </div>

  <div class="d-flex"></div>
</div>
<div class=" limit-container-width">
  <div class="content" id="content-body">

    <div class="js-signature-container"
         ></div>
    <div class="container-fluid container-limited limit-container-width">

      <div class="project-home-panel">
        <div class="row append-bottom-8">
          <div class="home-panel-title-row col-md-12 col-lg-6 d-flex">
            <div class="avatar-container home-panel-avatar append-right-default float-none">
              <div class="avatar avatar-tile s64 identicon bg1">{{project?.name[0]}}</div>
            </div>
            <div class="d-flex flex-column flex-wrap align-items-baseline">
              <div class="d-inline-flex align-items-baseline">
                <h1 class="home-panel-title prepend-top-8 append-bottom-5 qa-project-name">
                  {{project?.name}}
                  <span class="visibility-icon text-secondary prepend-left-4 has-tooltip" data-container="body"
                        title="Public - The project can be accessed without any authentication.">
                          <i aria-hidden="true" data-hidden="true" class="fa fa-globe icon"></i>
                        </span>
                </h1>
              </div>
              <div class="home-panel-metadata d-flex align-items-center text-secondary">
                      <span class="text-secondary">
                        Project ID: {{project?._id}}
                      </span>
              </div>
            </div>
          </div>

          <div class="project-repo-buttons col-md-12 col-lg-6 d-inline-flex flex-wrap justify-content-lg-end">

            <div class="project-clone-holder d-inline-flex d-md-none btn-block">
              <div class="btn-group mobile-git-clone js-mobile-git-clone btn-block">
                <button
                  class="btn btn-primary flex-fill bold justify-content-center input-group-text clone-dropdown-btn js-clone-dropdown-label"
                  data-toggle="tooltip" data-placement="bottom" data-container="body"
                  data-button-text="Copy HTTPS clone URL" data-hide-button-icon="true"
                  data-class="btn-primary flex-fill bold justify-content-center input-group-text clone-dropdown-btn js-clone-dropdown-label"
                  type="button"
                  title="Copy to clipboard" aria-label="Copy to clipboard">Copy HTTPS clone URL
                </button>
                <button class="btn btn-primary dropdown-toggle js-dropdown-toggle" data-toggle="dropdown"
                        type="button">
                  <svg class="dropdown-btn-icon icon">
                    <use
                      xlink:href="https://gitlab.com/assets/icons-24aaa921aa9e411162e6913688816c79861d0de4bee876cf6fc4c794be34ee91.svg#arrow-down"></use>
                  </svg>
                </button>
              </div>

            </div>
            <div class="project-clone-holder d-none d-md-inline-flex">
              <div class="git-clone-holder js-git-clone-holder input-group">
                <a class="input-group-text btn btn-primary btn-xs clone-dropdown-btn qa-clone-dropdown"
                   data-toggle="dropdown" href="#" id="clone-dropdown">
                        <span class="append-right-4 js-clone-dropdown-label">
                          Clone
                        </span>
                  <svg class="icon">
                    <use
                      xlink:href="https://gitlab.com/assets/icons-24aaa921aa9e411162e6913688816c79861d0de4bee876cf6fc4c794be34ee91.svg#arrow-down"></use>
                  </svg>
                </a>


                <ul
                  class="p-3 dropdown-menu dropdown-menu-right dropdown-menu-large dropdown-menu-selectable clone-options-dropdown qa-clone-options">

                  <li>

                    <label class="label-bold">
                      Clone with HTTP
                    </label>
                    <div class="input-group">
                      <input type="text" name="http_project_clone" id="http_project_clone"
                             value="localhost:4200{{router.url}}"
                             class="js-select-on-focus form-control qa-http-clone-url" readonly="readonly"
                             aria-label="Project clone URL"/>
                      <div class="input-group-append">
                        <button class="btn input-group-text btn-default btn-clipboard" data-toggle="tooltip"
                                data-placement="bottom" data-container="body" data-title="Copy URL to clipboard"
                                data-class="input-group-text btn-default btn-clipboard"
                                data-clipboard-target="#http_project_clone" type="button"
                                title="Copy URL to clipboard" aria-label="Copy URL to clipboard">
                          <i class="fal fa-copy"></i>
                        </button>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>


            </div>
          </div>
        </div>
        <nav class="project-stats">
          <div class="nav-links quick-links">
            <ul class="nav">
              <li class="nav-item">
                <div class="stat-text d-flex align-items-center">
                  <img src="../../assets/icon/icons8-partager-512.png" width="25" height="25">
                  <strong class="project-stat-value">No license. All rights reserved</strong></div>
              </li>


              <li class="nav-item">
                <a class="nav-link stat-link d-flex align-items-center"
                   [routerLink]="['/project/'+currentUser.username+'/'+project?.name+'/branches']">
                  <strong class="project-stat-value">{{ project?.branched.length }}</strong>  Branches</a>
              </li>
            </ul>

          </div>
        </nav>
        <div class="home-panel-home-desc mt-1">
        </div>
      </div>

      <div class="project-show-files">
        <div class="tree-holder clearfix" id="tree-holder">
          <div class="nav-block">
            <div class="tree-ref-container">
              <div class="tree-ref-holder">
                <form class="project-refs-form"
                      accept-charset="UTF-8" method="get"><input name="utf8" type="hidden" value="&#x2713;"/><input
                  type="hidden" name="destination" id="destination" value="tree"/>
                  <input type="hidden" name="path" id="path" value=""/>
                  <div class="dropdown">
                    <button class="dropdown-menu-toggle js-project-refs-dropdown qa-branches-select" type="button"
                            data-toggle="dropdown" data-selected="master" data-ref="master"
                             data-field-name="ref"
                            data-submit-form-on-click="true" data-visit="true"><span class="dropdown-toggle-text ">
                      Branche : {{selectedBranche?.name}}
                    </span><i
                      aria-hidden="true" data-hidden="true" class="fa fa-chevron-down"></i></button>
                    <div
                      class="dropdown-menu dropdown-menu-paging dropdown-menu-selectable git-revision-dropdown qa-branches-dropdown">
                      <div class="dropdown-page-one">
                        <div class="dropdown-title"><span>Switch branch/tag</span>
                          <button class="dropdown-title-button dropdown-menu-close" aria-label="Close"
                                  type="button"><i aria-hidden="true" data-hidden="true"
                                                   class="fa fa-times dropdown-menu-close-icon"></i></button>
                        </div>
                        <div class="dropdown-input">

                          <i aria-hidden="true"
                             data-hidden="true"
                             class="fa fa-search dropdown-input-search"></i><i
                          aria-hidden="true" data-hidden="true" role="button"
                          class="fa fa-times dropdown-input-clear js-dropdown-input-clear"></i>
                        </div>

                        <div class="dropdown-content">

                          <ul>
                            <li *ngFor="let branche of project?.branched" (click)="onSelect(branche)">
                             <a>
                               {{branche.name}}
                             </a>
                            </li>
                          </ul>

                        </div>

                        <div class="dropdown-loading">
                          <i aria-hidden="true" data-hidden="true"
                             class="fa fa-spinner fa-spin">
                          </i>
                        </div>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
              <ul class="breadcrumb repo-breadcrumb">
                <li class="breadcrumb-item">
                  <a>
                    {{project?.name}}
                  </a>
                </li>
                <li class="breadcrumb-item">
                  <a class="btn add-to-tree qa-add-to-tree" data-boundary="window" data-target=".add-to-tree-dropdown"
                     data-toggle="dropdown" href="#" aria-expanded="false">
                    
                    
                    <img src="../../assets/icon/icons8-plus-filled-100.png" height="20" width="20">
                    
                    <svg class="s16 float-left">
                      <use
                        xlink:href="https://gitlab.com/assets/icons-24aaa921aa9e411162e6913688816c79861d0de4bee876cf6fc4c794be34ee91.svg#arrow-down"></use>
                    </svg>
                  </a>
                  
                  


                  <div class="add-to-tree-dropdown position-static">

                    <ul class="dropdown-menu" x-placement="bottom-start"
                        style="position: absolute;
                        will-change: transform; top: 0px; left: 0px; transform: translate3d(23px, 34px, 0px);">

                      <li class="divider"></li>
                      <li class="dropdown-header">
                        This repository
                      </li>
                      <li>
                        <a
                          [routerLink]="['/project/'+authentificationService.currentUserValue.username+ '/' +project?.name+'/branches/new']">New
                          branch
                        </a>
                      </li>
                    </ul>
                  </div>


                </li>
              </ul>
            </div>
            <div class="tree-controls">

              <div class="project-action-button dropdown inline">
                <button aria-label="Download" class="btn has-tooltip" data-display="static" data-toggle="dropdown"
                        title="Download">
                  <svg>
                    <use
                      xlink:href="https://gitlab.com/assets/icons-24aaa921aa9e411162e6913688816c79861d0de4bee876cf6fc4c794be34ee91.svg#download"></use>
                  </svg>
                  <span class="sr-only">Select Archive Format</span>
                  <img src="../../assets/icon/icons8-télécharger-depuis-le-cloud-100.png" width="30" height="30">
                </button>
                <ul class="dropdown-menu dropdown-menu-right" role="menu">
                  <li class="dropdown-header">
                    Source code
                  </li>
                  <li>
                    <a rel="nofollow" href="{{env?.apiUrl}}/clone/{{project?.link_identifier}}" ><span>Download zip</span>
                    </a>
                  </li>
                </ul>
              </div>
            </div>

          </div>
          <div class="info-well d-none d-sm-block project-last-commit append-bottom-default">
            <div class="well-segment">
              <ul class="blob-commit-info">
                <li class="commit flex-row js-toggle-container" id="commit-896719cb">
                  <div class="avatar-cell d-none d-sm-block">
                    <a>
                      <img alt="avatar"
                           src="https://secure.gravatar.com/avatar/71a311b16fb1a66d3cb621bfb95bfd4b?s=72&amp;d=identicon"
                                                                class="avatar s36 d-none d-sm-inline"
                                                                title=""/>
                    </a>
                  </div>
                  <div class="commit-detail flex-list">

                    <div class="commit-content qa-commit-content">

                      <a *ngIf="branchLoaded" class="commit-row-message item-title"
                         [routerLink]="">{{commit?.name}}
                      </a>

                      <span class="commit-row-message d-block d-sm-none">
                                                &middot;
                        {{project?.stars}}
                      </span>
                      <div class="committer">
                        Created
                        <span>
                          {{ project?.last_update.toString() |  timeAgo}}
                        </span>
                        <p *ngIf="branchLoaded">
                        And Authored by
                        </p>
                        <a *ngIf="branchLoaded" class="commit-author-link js-user-link" data-user-id="1945925"
                           [routerLink]="['/'+commit.creator_id.username]">
                           {{commit.creator_id.username}}
                        </a>
                        <p *ngIf="branchLoaded">
                          at {{commit.created_at}}
                        </p>
                      </div>
                    </div>
                    <div class="commit-actions flex-row d-none d-sm-flex">

                      <div class="js-commit-pipeline-status"></div>
                      <div class="commit-sha-group">
                        <div *ngIf="branchLoaded" class="label label-monospace">
                          {{commit.timestamp}}
                        </div>
                        <button class="btn btn btn-default" data-toggle="tooltip" data-placement="bottom"
                                data-container="body" data-title="Copy commit SHA to clipboard"
                                data-class="btn btn-default"
                                data-clipboard-text="896719cb6fa22419312f914de3e951a703abed01" type="button"
                                title="Copy commit SHA to clipboard" aria-label="Copy commit SHA to clipboard">
                          <img src="../../assets/icon/icons8-partager-noir-96.png" width="20" height="20">
                        </button>

                      </div>
                    </div>
                  </div>
                </li>

              </ul>
            </div>
          </div>

          <div class="project-buttons append-bottom-default">

          </div>
          <div class="tree-content-holder js-tree-content"
               data-path-locks-available="true"
               data-path-locks-path="" >
            <div class="table-holder bordered-box">

              <div style="padding: 6px">
                <ul class="list-unstyled">
                  <li *ngFor="let i of receivedTree" >
                    <a>
                      <br>
                      <img src="../../assets/icon/icons8-mp3-52.png" width="25" height="25">  {{ i.text }}
                      <mat-basic-audio-player
                        [audioUrl]=" env.serveur + i.link "
                                              ></mat-basic-audio-player>
                      <br>
                    </a>
                  </li>
                </ul>
              </div>

              <!--

<table class="qa-file-tree table table_da39a3ee5e6b4b0d3255bfef95601890afd80709 tree-table"
       id="tree-slider">
  <thead>
  <tr>
    <th>Name</th>
    <th class="d-none d-sm-table-cell">
      <div class="float-left">Last commit</div>
    </th>
    <th class="text-right">Last update</th>
  </tr>
  </thead>
  <tr class="tree-item file_f27fede2220bcd326aee3e86ddfd4ebd0fe58cb9">
    <td class="tree-item-file-name">

      <i aria-hidden="true" data-hidden="true" class="fa fa-folder fa-fw"></i>

      <a class="str-truncated" href="CodeOne/tree/master/src.html" title="src">
        <span>src</span>
      </a>
    </td>
    <td class="d-none d-sm-table-cell tree-commit"></td>
    <td class="tree-time-ago text-right">
                              <span class="log_loading hide">
                                <i class="fa fa-spinner fa-spin"></i>
                                Loading commit data...
                              </span>
    </td>
  </tr>
  <tr class="tree-item file_91dd6f71721ed9895832d6f4c194c5ba5567677d">
    <td class="tree-item-file-name">

      <i aria-hidden="true" data-hidden="true" class="fal fa-file"> </i>

      <a class="str-truncated" href="CodeOne/blob/master/CodeNameOneBuildClient.html"
         title="CodeNameOneBuildClient.jar">
        <span>CodeNameOneBuildClient.jar</span>
      </a>
    </td>
    <td class="d-none d-sm-table-cell tree-commit"></td>
    <td class="tree-time-ago text-right">
                              <span class="log_loading hide">
                                <i class="fa fa-spinner fa-spin"></i>
                                Loading commit data...
                              </span>
    </td>
  </tr>


</table>

-->
            </div>
          </div>

        </div>

      </div>
    </div>

  </div>
</div>
