<app-menu></app-menu>
<div class="container-limited">
  <div class="content" id="content-body">

    <app-upload></app-upload>

    <form
      class="edit-user prepend-top-default js-quick-submit gl-show-field-errors"
      role="form"
      enctype="multipart/form-data"
      accept-charset="UTF-8"

      [formGroup]="profileForm"
      (ngSubmit)="onSubmitEdit()"
    >

      <input name="utf8"
             type="hidden"
             value="✓"><input
      type="hidden" name="_method" value="put">
      <input type="hidden"
             name="authenticity_token"
             value="acDRIwSOLxmYvQJcKl9Q5AWvzVowPfmwvAMRFH77Y4ZsLsTrajBpFwkAIlcwAofnjK6dgDUcZ/4sff2WajS9GA==">
      <div class="row">
        <div class="col-lg-4 profile-settings-sidebar">
          <h4 class="prepend-top-0">
            Public Avatar
          </h4>
          <p>
            You can upload your avatar here
          </p>


        </div>
        <div class="col-lg-8">
          <div class="clearfix avatar-image append-bottom-default">
            <a target="_blank" rel="noopener noreferrer"
               href="https://secure.gravatar.com/avatar/71a311b16fb1a66d3cb621bfb95bfd4b?s=800&amp;d=identicon">

              <img alt="avatar"
                   src="https://secure.gravatar.com/avatar/71a311b16fb1a66d3cb621bfb95bfd4b?s=800&amp;d=identicon"
                   class="avatar s70 d-none d-sm-inline"
                   title=""/>
            </a>
          </div>

          <h5 class="prepend-top-0">Upload new avatar</h5>
          <div class="prepend-top-5 append-bottom-10">

            <input #file type="file" accept="Image/*" (change)="preview(file.files)">

          </div>
          <div class="form-text text-muted">The maximum file size allowed is 200KB.</div>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-lg-4 profile-settings-sidebar">
          <h4 class="prepend-top-0">Current status</h4>
          <p>This emoji and message will appear on your profile and throughout the interface.</p>
        </div>
        <div class="col-lg-8">
          <input id="js-status-emoji-field" type="hidden" name="user[status][emoji]">


          <div class="form-group">
            <label class="label-bold" for="user_status_message">Your status</label>
            <div class="input-group">
                     <span class="input-group-btn">
                        <button name="button" type="button"
                                class="js-toggle-emoji-menu emoji-menu-toggle-button btn has-tooltip"
                                title="Add status emoji">
                           <span
                             class="no-emoji-placeholder" id="js-no-emoji-placeholder">
                              <svg class="award-control-icon-neutral">
                                 <use
                                   xlink:href="https://gitlab.com/assets/icons-24aaa921aa9e411162e6913688816c79861d0de4bee876cf6fc4c794be34ee91.svg#emoji_slightly_smiling_face"></use>
                              </svg>
                              <svg class="award-control-icon-positive">
                                 <use
                                   xlink:href="https://gitlab.com/assets/icons-24aaa921aa9e411162e6913688816c79861d0de4bee876cf6fc4c794be34ee91.svg#emoji_smiley"></use>
                              </svg>
                              <svg class="award-control-icon-super-positive">
                                 <use
                                   xlink:href="https://gitlab.com/assets/icons-24aaa921aa9e411162e6913688816c79861d0de4bee876cf6fc4c794be34ee91.svg#emoji_smile"></use>
                              </svg>
                           </span>
                        </button>
                     </span>
              <!-- [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }" -->
              <input id="js-status-message-field"
                     class="form-control form-control input-lg"
                     placeholder="What's your status?" type="text" name="user[status][message]"
                     formControlName="status"
                     [ngClass]="{ 'is-invalid': submitted && f.status.errors }"/>

              <div *ngIf="submitted && f.status.errors" class="invalid-feedback">
                <div *ngIf="f.status.errors.required">Insert a valid status</div>
              </div>

              <span class="input-group-btn">
                        <button
                          name="button" type="button" id="js-clear-user-status-button"
                          class="clear-user-status btn has-tooltip"
                          title="" data-original-title="Clear status">
                           <svg>
                              <use
                                xlink:href="https://gitlab.com/assets/icons-24aaa921aa9e411162e6913688816c79861d0de4bee876cf6fc4c794be34ee91.svg#close"></use>
                           </svg>
                        </button>
                     </span>
            </div>
          </div>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-lg-4 profile-settings-sidebar">
          <h4 class="prepend-top-0">
            Main settings
          </h4>
          <p>
            This information will appear on your profile
          </p>
        </div>
        <div class="col-lg-8">
          <div class="row">


            <div class="form-group col-md-4 qa-full-name">
              <label class="label-bold required" for="lastName">Last Name</label>
              <input required="required"
                     title="Using emojis in names seems fun, but please try to set a status message instead"
                     class="form-control" type="text"
                     id="lastName"
                     name="user[lastName]"
                     formControlName="lastName"
                     [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }"
              />

              <p class="gl-field-error hidden">Using emojis in names seems fun, but please try to set a status message
                instead
              </p>

              <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback">
                <div *ngIf="f.lastName.errors.required">
                  This field is required
                </div>
              </div>

            </div>

            <div class="form-group col-md-4 qa-full-name">
              <label class="label-bold required" for="firstName">First Name</label>
              <input

                title="Using emojis in names seems fun, but please try to set a status message instead"
                class="form-control"
                type="text"
                id="firstName"
                formControlName="firstName"
                [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }"
              />


              <p class="gl-field-error hidden">Using emojis in names seems fun, but please try to set a status message
                instead
              </p>

              <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
                <div *ngIf="f.firstName.errors.required">
                  This field is required
                </div>
              </div>

            </div>

            <div class="form-group col-md-3">
              <label class="label-bold" for="user_id">User ID</label>
              <input
                readonly="readonly" class="form-control" type="text" name="user[id]" id="user_id"
                [value]="currentUser._id"
              />
              <p class="gl-field-error hidden">This field is required.</p>
            </div>
            <span class="help-block">Enter your name, so people you know can recognize you</span>
            <br>
          </div>

          <div class="form-group">
            <label class="label-bold required" for="user_email">Email</label>
            <input
              class="form-control input-lg"
              type="text"
              name="user[email]"
              id="user_email"
              formControlName="email"
              [ngClass]="{ 'is-invalid': submitted && f.email.errors }"
            />

            <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
              <div *ngIf="f.email.errors.required">Email is required</div>
            </div>
            <span class="help-block">We also use email for avatar detection if no avatar is uploaded</span>

          </div>

          <div class="form-group">
            <label class="label-bold" for="user_linkedin">Linkedin</label>
            <input
              class="form-control input-md" type="text"
              name="user[linkedin]"
              id="user_linkedin"
              placeholder="/profilename"
              formControlName="linkedin"
              [ngClass]="{ 'is-invalid': submitted && f.linkedin.errors }"
            >

            <span class="help-block">Your LinkedIn profile name from linkedin.com/in/profilename</span>

          </div>

          <div class="form-group">
            <label class="label-bold" for="user_twitter">Twitter</label><input
            class="form-control input-md" placeholder="@username" type="text"
            name="user[twitter]"
            id="user_twitter"
            formControlName="twitter"
            [ngClass]="{ 'is-invalid': submitted && f.twitter.errors }"
          >
          </div>

          <div class="form-group">
            <label class="label-bold" for="user_website_url">Website url</label>
            <input
              class="form-control input-lg"
              placeholder="website.com" type="text"
              name="user[website_url]"
              id="user_website_url"
              formControlName="website"
              [ngClass]="{ 'is-invalid': submitted && f.website.errors }"
            >
          </div>

          <div class="form-group">
            <label class="label-bold" for="user_organization">Organization</label>
            <input
              class="form-control input-md"
              type="text"
              name="user[organization]"
              id="user_organization"
              formControlName="organisation"
              [ngClass]="{ 'is-invalid': submitted && f.organisation.errors }"
            >
            <span class="help-block">Who you represent or work for</span>
          </div>

          <div class="form-group">
            <label class="label-bold" for="user_bio">Bio</label>
            <textarea rows="4" maxlength="250"
                      class="form-control"
                      name="user[bio]"
                      id="user_bio"
                      formControlName="bio"
                      [ngClass]="{ 'is-invalid': submitted && f.bio.errors }"
            >

            </textarea>
            <span
              class="help-block">Tell us about yourself in fewer than 250 characters</span></div>

          <div class="prepend-top-default append-bottom-default">
            <input type="submit" name="commit" value="Update profile settings" class="btn btn-success"
                   data-disable-with="Update profile settings">
            <a class="btn btn-cancel" [routerLink] = "['/']" >Cancel</a>
          </div>
        </div>
      </div>
    </form>
    <div class="modal modal-profile-crop">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">
              Position and size your new avatar
            </h4>
            <button aria-label="Close" class="close" data-dismiss="modal" type="button">
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="profile-crop-image-container">
              <img alt="Avatar cropper" class="modal-profile-crop-image">
            </div>
            <div class="crop-controls">
              <div class="btn-group">
                <button class="btn btn-primary" data-method="zoom" data-option="0.1">
                  <span class="fa fa-search-plus"></span>
                </button>
                <button class="btn btn-primary" data-method="zoom" data-option="-0.1">
                  <span class="fa fa-search-minus"></span>
                </button>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button class="btn btn-primary js-upload-user-avatar" type="button">
              Set new profile picture
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
