<app-menu></app-menu>
<div class="layout-page page-with-contextual-sidebar">
  <div class="nav-sidebar">
    <div class="nav-sidebar-inner-scroll">
      <div class="context-header">
        <a title="{{currentProject?.name}}">
          <div class="avatar-container s40 project-avatar">
            <div class="avatar s40 avatar-tile identicon bg1">{{currentProject?.name[0]}}</div>
          </div>
          <div class="sidebar-context-title">
            {{currentProject?.name}}
          </div>
        </a></div>
      <ul class="sidebar-top-level-items" >
        <li class=""  >

          <a class="shortcuts-tree qa-project-menu-repo"
             [routerLink]="['/project/'+currentProject?.link_identifier]"  >
          <div class="nav-icon-container">
            <svg>
              <use
                xlink:href="CodeOne/assets/icons-24aaa921aa9e411162e6913688816c79861d0de4bee876cf6fc4c794be34ee91.svg#home"></use>
            </svg>
          </div>
          <span class="nav-item-name">
              Project
            </span>
        </a>
        </li>
        <li class="" routerLinkActive="active"><a class="shortcuts-tree qa-project-menu-repo"
                        [routerLink]="['/project/'+currentProject?.link_identifier+'/branches']">
          <div class="nav-icon-container">
            <svg>
              <use
                xlink:href="CodeOne/assets/icons-24aaa921aa9e411162e6913688816c79861d0de4bee876cf6fc4c794be34ee91.svg#doc-text"></use>
            </svg>
          </div>
          <span class="nav-item-name">
          Branches
        </span>
        </a>
        </li>
        <li class="" routerLinkActive="active">
          <a title="Members" class="shortcuts-tree"
                        [routerLink]="['/project/'+currentProject?.link_identifier+'/membres']">
          <div class="nav-icon-container">
            <svg>
              <use
                xlink:href="CodeOne/assets/icons-24aaa921aa9e411162e6913688816c79861d0de4bee876cf6fc4c794be34ee91.svg#users"></use>
            </svg>
          </div>
          <span class="nav-item-name">
  Members
</span>
        </a>
        </li>
        <li class="" routerLinkActive="active"><a class="shortcuts-tree qa-project-menu-repo"
                        [routerLink]="['/project/'+currentProject?.link_identifier+'/graph']">
          <div class="nav-icon-container">
            <svg>
              <use
                xlink:href="CodeOne/assets/icons-24aaa921aa9e411162e6913688816c79861d0de4bee876cf6fc4c794be34ee91.svg#doc-text"></use>
            </svg>
          </div>
          <span class="nav-item-name">
          Graph
        </span>
        </a>
        </li>
        <li class="" routerLinkActive="active">
          <a class="shortcuts-issues qa-issues-item"
                        [routerLink]="['/project/'+currentProject?.link_identifier+'/issues']">
          <div class="nav-icon-container">
            <svg>
              <use
                xlink:href="CodeOne/assets/icons-24aaa921aa9e411162e6913688816c79861d0de4bee876cf6fc4c794be34ee91.svg#issues"></use>
            </svg>
          </div>
          <span class="nav-item-name">
    Issues
  </span>

        </a>
        </li>



      </ul>
    </div>
  </div>
</div>
