<app-menu></app-menu>
<p>
  <strong>GitWaves</strong> est une plateforme dans le domaine de la Gestion de l'Audio destiné à tous les passionnés de musique assistée par ordinateur (MAO) mais aussi pour ceux qui envisagent de devenir un jour compositeurs.
</p>
<p>
  GitWaves comprend de nombreux outils tels qu'un séquenceur, une multitude de synthétiseurs virtuels, un vocodeur, de nombreux effets, etc. La liste de ses possibilités est immense, à noter qu’il nous permet de travail en groupe (Travail collaboratif) et qu’il est relativement simple à utiliser et très agréable une fois que vous avez pris vos repères. De plus, vous pouvez travailler a plusieurs sur le même projet.
</p>
<div>
  <h3>
    1er pas : l’inscription et l’authentification
  </h3>
  <p>
    Il vous suffit juste de remplir les champs avec les valeurs logiques demandés
  </p>
  <div style="text-align: center;">
    <img  height="300px" width="600px" src="../../assets/Images/register.PNG"><!--Imahe Form Login-->
  </div>
</div>
<div>
  <h3>
    La création du nouveau projet :
  </h3>
  <div style="text-align: center;">
    <img  height="300px" width="600px" src="../../assets/Images/new project.png"><!--Imahe creer projet -->
  </div>
</div>

<div>
  <h3>
    L’ajout des différents membres du Band :
  </h3>
  <p>il est possible d'ajouer des membres à votre projet musical et choisir leurs role</p>
  <div style="text-align: center;">
    <img  height="300px" width="600px" src="../../assets/Images/add member.png"><!--Image de la selection des membres-->
  </div>
</div>

<div>
  <h3>
    Cloner le projet sur votre desktop :
  </h3>
  <h4>
    1er étape : vous connecter sur l’interface desktop
  </h4>
  <div style="text-align: center;">
    <img  height="300px" width="600px" src="../../assets/Images/f1 connect deskto .png"><!--Image connection-->
  </div>
  <h4>
    Deuxième étape : saisir l’URL de votre projet web dans la rubrique sous « GitClone …. »
  </h4>
  <div style="text-align: center;">
    <img  height="300px" width="600px" src="../../assets/Images/f2 clone url .png"><!--Capture d’ecran ou est on met le URL de du projet-->
  </div>
</div>

<div>
  <h3>
    Vous pouver ajouter votre morceau
  </h3>
  <p>
    Visualiser simplement une mesure de votre morceau, de la batterie, de la basse, etc
  </p>
  <div style="text-align: center;">
    <img  height="300px" width="600px" src="../../assets/Images/f4 commandes.png"><!--Capture sur le mroceux en cours-->
  </div>
</div>

<div>
  <h3>
    ranger votre morceau de musique avec la fonction Trim
  </h3>
  <p>
    Trim vous permet de ranger votre morceau de musique et de travailler sur une partie bien présise
  </p>
  <div style="text-align: center;">
    <img  height="300px" width="600px" src="../../assets/Images/f4 commandes Trim.png"><!--Capture sur lajout d'un morceaux -->
  </div>
</div>

<div>
  <h3>
    Mixer vos morceaux en choisissant :
  </h3>
  <p>
    La table de mixage peut contenir 99 pistes contenant chacun 8 emplacements d'effets sonores. Il est possible de brancher en sortie le son obtenu vers une autre piste d'effet, ou vers la sortie principale, qui elle aussi peut se voir assigner 8 effets au maximum; un channel peut donc recevoir un nombre considérable d'effets au total.
  </p>
  <p> Vous pouvez aussi ajouter un autre morceau a un instant précis</p>
  <div style="text-align: center;">
    <img  height="200px" width="400px" src="../../assets/Images/f4 commandesConcat .png">
    <img  height="200px" width="400px" src="../../assets/Images/f4 commandes Concat in position.png"><!--Capture sur lajout d'un morceaux -->
  </div>
</div>

<div>
  <h3>
    Vous pouvez aussi les misxer et ajouter un morceau par dessus l'autre :
  </h3>
  <div style="text-align: center;">
    <img  height="300px" width="600px" src="../../assets/Images/f4 commandes Merge.png"><!--Capture sur lajout d'un morceaux a t = t0 -->
  </div>
</div>

<div>
  <h3>
    Vous pouvez faire un commit en Local pour sauvegarder vos donnees
  </h3>
  <div style="text-align: center;">
    <img  height="300px" width="600px" src="../../assets/Images/f5 commit local.png"><!--Capture d’ecran commit en local-->
  </div>
  <p>
    Ou , pour des raison de securité, fait un commit avec un push, il faut cocher la case « Puch »
  </p>
  <div style="text-align: center;">
    <img  height="300px" width="600px" src="../../assets/Images/f5 commit local + push.png"><!--Capture d’ecran avec puch-->
  </div><!--Capture  -->
  <p>
    Il est possible de créer plusieurs versions de ses play-listes, pour essayer plusieurs arrangements et basculer facilement d’une version a une autre :
  </p>
  <div style="text-align: center;">
    <img  height="300px" width="600px" src="../../assets/Images/f7 toute les version play liste.png"><!--Capture d'ecran ou on visuatlise les beanche ..-->
  </div><!--Capture  -->
  <p>
    Vous pouvez visualiser le graphe des commits et des branches de votre projet
  </p>
  <div style="text-align: center;">
    <img  height="300px" width="600px" src="../../assets/Images/f6 reload commit.png"><!--Image graphe web  -->
  </div>
</div>
<p>ou vous pouvez nous contacter à <a>gitwaves@support.com</a></p>
