<app-navbar></app-navbar>
<div class="content-wrapper">

  <div class="mobile-overlay"></div>
  <div class="alert-wrapper">






    <nav class="breadcrumbs container-fluid container-limited" role="navigation">
      <div class="breadcrumbs-container">
        <button name="button" type="button" class="toggle-mobile-nav"><span class="sr-only">Open sidebar</span>
          <i aria-hidden="true" data-hidden="true" class="fa fa-bars"></i>
        </button><div class="breadcrumbs-links js-title-container">
        <ul class="list-unstyled breadcrumbs-list js-breadcrumbs-list">


          <li><a [routerLink]="['/'+currentUser.username]">{{currentUser.username}}</a><svg class="s8 breadcrumbs-list-angle"><use xlink:href="https://gitlab.com/assets/icons-24aaa921aa9e411162e6913688816c79861d0de4bee876cf6fc4c794be34ee91.svg#angle-right"></use></svg></li> <li><a ><span class="breadcrumb-item-text js-breadcrumb-item-text">{{currentProject.name}}</span></a><svg class="s8 breadcrumbs-list-angle"><use xlink:href="https://gitlab.com/assets/icons-24aaa921aa9e411162e6913688816c79861d0de4bee876cf6fc4c794be34ee91.svg#angle-right"></use></svg></li>
          <li><a [routerLink]="['/tree']">Repository</a><svg class="s8 breadcrumbs-list-angle"><use xlink:href="https://gitlab.com/assets/icons-24aaa921aa9e411162e6913688816c79861d0de4bee876cf6fc4c794be34ee91.svg#angle-right"></use></svg></li>

          <li>
            <h2 class="breadcrumbs-sub-title"><a>Branches</a></h2>
          </li>
        </ul>
      </div>

      </div>
    </nav>

    <div class="flash-container flash-container-page">
    </div>

    <div class="d-flex"></div>
  </div>
  <div class=" ">
    <div class="content" id="content-body">
      <div class="container-fluid container-limited">
        <div class="top-area adjust">
          <ul class="nav-links issues-state-filters nav nav-tabs"><li class="active">
            <a title="Show overview of the branches">Active</a>
          </li>
          </ul>
          <div class="nav-controls">
            <a class="btn btn-inverted btn-remove has-tooltip qa-delete-merged-branches" title="Delete all branches that are merged into 'master'" data-confirm="Deleting the merged branches cannot be undone. Are you sure?" data-container="body" rel="nofollow" data-method="delete" >Delete merged branches
          </a><a class="btn btn-success" [routerLink]="['/project/'+userProject+'/'+projectName+'/branches/new']">New branch
          </a></div>
        </div>

        <div class="row-content-block">
          <h5>
            Protected branches can be managed in <a [routerLink]="['/project/'+userProject+'/'+projectName+'/']">project settings</a>.
          </h5>
        </div>
        <div class="card prepend-top-10">
          <div class="card-header">
            Active branches
          </div>
          <ul class="content-list all-branches qa-all-branches">
            <li class="branch-item js-branch-master" *ngFor=" let branche of project.branched">
              <div class="branch-info">
                <div class="branch-title">
                  <svg class="s12"><use xlink:href="https://gitlab.com/assets/icons-24aaa921aa9e411162e6913688816c79861d0de4bee876cf6fc4c794be34ee91.svg#fork"></use></svg>
                  <a class="item-title str-truncated-100 ref-name prepend-left-8" [routerLink]="['tree/'+branche.name]" >{{branche.name}}
                  </a><span class="badge badge-primary prepend-left-5" [hidden]="!brancheMaster(branche.name)">default</span>
                  <span class="badge badge-success prepend-left-5">
protected
</span>
                </div>
                <div class="block-truncated">
                  <div class="branch-commit">
                    <div class="icon-container commit-icon">
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16"><path d="M8 10a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm3.876-1.008a4.002 4.002 0 0 1-7.752 0A1.01 1.01 0 0 1 4 9H1a1 1 0 1 1 0-2h3c.042 0 .083.003.124.008a4.002 4.002 0 0 1 7.752 0A1.01 1.01 0 0 1 12 7h3a1 1 0 0 1 0 2h-3a1.01 1.01 0 0 1-.124-.008z"></path></svg>


                    </div>
                    <a class="commit-sha" >Created at</a>
                    ·
                    <span class="str-truncated">
</span>
                    ·
                    <time class="js-timeago" title="" datetime="2019-04-09T20:02:21Z" data-toggle="tooltip" data-placement="top" data-container="body" data-tid="4" data-original-title="Apr 9, 2019 8:02pm">{{branche.created_at}}</time>
                  </div>

                </div>
              </div>
              <div class="controls d-none d-md-block"><div class="project-action-button dropdown inline">
                <button aria-label="Download" class="btn has-tooltip" data-display="static" data-toggle="dropdown" title="Download">
                  <img src="../../../../assets/icon/icons8-télécharger-depuis-le-cloud-100.png" width="25" height="25">
                </button>
                <ul class="dropdown-menu dropdown-menu-right" role="menu">
                  <li class="dropdown-header">
                    Source code
                  </li>
                  <li>
                    <a rel="nofollow" download=""
                       href= "{{env?.apiUrl}}/branche/clone/{{userProject}}/{{projectName}}/{{branche.name}}" ><span>Download zip</span>
                    </a>
                  </li>
                </ul>
              </div><button class="btn btn-remove remove-row js-ajax-loading-spinner has-tooltip disabled" disabled="" title="The default branch cannot be deleted">
                <i aria-hidden="true" data-hidden="true" class="fa fa-trash-o"></i>
              </button>
              </div>
            </li>

            <!--<li class="branch-item js-branch-houssem">
              <div class="branch-info">
                <div class="branch-title">
                  <svg class="s12"><use xlink:href="https://gitlab.com/assets/icons-24aaa921aa9e411162e6913688816c79861d0de4bee876cf6fc4c794be34ee91.svg#fork"></use></svg>
                  <a class="item-title str-truncated-100 ref-name prepend-left-8" href="/wildchild/gitwaves/tree/houssem">houssem
                  </a><span class="badge badge-info has-tooltip prepend-left-5" title="" data-original-title="Merged into master">
merged
</span>
                </div>
                <div class="block-truncated">
                  <div class="branch-commit">
                    <div class="icon-container commit-icon">
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16"><path d="M8 10a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm3.876-1.008a4.002 4.002 0 0 1-7.752 0A1.01 1.01 0 0 1 4 9H1a1 1 0 1 1 0-2h3c.042 0 .083.003.124.008a4.002 4.002 0 0 1 7.752 0A1.01 1.01 0 0 1 12 7h3a1 1 0 0 1 0 2h-3a1.01 1.01 0 0 1-.124-.008z"></path></svg>


                    </div>
                    <a class="commit-sha" href="/wildchild/gitwaves/commit/acd75b1846e7a04eb1fba844498fd6a823406412">acd75b18</a>
                    ·
                    <span class="str-truncated">
<a class="commit-row-message" href="/wildchild/gitwaves/commit/acd75b1846e7a04eb1fba844498fd6a823406412">houssem</a>
</span>
                    ·
                    <time class="js-timeago" title="" datetime="2019-02-16T18:59:36Z" data-toggle="tooltip" data-placement="top" data-container="body" data-tid="5" data-original-title="Feb 16, 2019 6:59pm">1 month ago</time>
                  </div>

                </div>
              </div>
              <div class="divergence-graph d-none d-md-block" title="16 commits behind master, 0 commits ahead">
                <div class="graph-side">
                  <div class="bar bar-behind" style="width: 100.0%"></div>
                  <span class="count count-behind">16</span>
                </div>
                <div class="graph-separator"></div>
                <div class="graph-side">
                  <div class="bar bar-ahead" style="width: 0.0%"></div>
                  <span class="count count-ahead">0</span>
                </div>
              </div>
              <div class="controls d-none d-md-block"><a class="btn btn-default" href="/wildchild/gitwaves/merge_requests/new?merge_request%5Bsource_branch%5D=houssem&amp;merge_request%5Btarget_branch%5D=master">Merge request</a><a class="btn btn-default " title="Compare" href="/wildchild/gitwaves/compare/master...houssem">Compare</a><div class="project-action-button dropdown inline">
                <button aria-label="Download" class="btn has-tooltip" data-display="static" data-toggle="dropdown" title="Download">
                  <svg><use xlink:href="https://gitlab.com/assets/icons-24aaa921aa9e411162e6913688816c79861d0de4bee876cf6fc4c794be34ee91.svg#download"></use></svg>
                  <span class="sr-only">Select Archive Format</span>
                  <svg><use xlink:href="https://gitlab.com/assets/icons-24aaa921aa9e411162e6913688816c79861d0de4bee876cf6fc4c794be34ee91.svg#arrow-down"></use></svg>
                </button>
                <ul class="dropdown-menu dropdown-menu-right" role="menu">
                  <li class="dropdown-header">
                    Source code
                  </li>
                  <li>
                    <a rel="nofollow" download="" href="/wildchild/gitwaves/-/archive/houssem/gitwaves-houssem.zip"><span>Download zip</span>
                    </a></li>
                  <li>
                    <a rel="nofollow" download="" href="/wildchild/gitwaves/-/archive/houssem/gitwaves-houssem.tar.gz"><span>Download tar.gz</span>
                    </a></li>
                  <li>
                    <a rel="nofollow" download="" href="/wildchild/gitwaves/-/archive/houssem/gitwaves-houssem.tar.bz2"><span>Download tar.bz2</span>
                    </a></li>
                  <li>
                    <a rel="nofollow" download="" href="/wildchild/gitwaves/-/archive/houssem/gitwaves-houssem.tar"><span>Download tar</span>
                    </a></li>
                </ul>
              </div><a class="btn btn-remove remove-row qa-remove-btn js-ajax-loading-spinner has-tooltip" title="Delete branch" data-confirm="Deleting the 'houssem' branch cannot be undone. Are you sure?" aria-label="Delete branch" data-remote="true" rel="nofollow" data-method="delete" href="/wildchild/gitwaves/branches/houssem"><i aria-hidden="true" data-hidden="true" class="fa fa-trash-o"></i></a></div>
            </li> -->

          </ul>
        </div>


      </div>
      <div class="modal" id="modal-delete-branch" tabindex="-1">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h3 class="page-title">Delete protected branch '<span class="js-branch-name ref-name">[branch name]</span>'?
              </h3>
              <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                <span aria-hidden="true">×</span>
              </button>
            </div>
            <div class="modal-body">
              <p>You’re about to permanently delete the protected branch <strong class="js-branch-name ref-name">[branch name]</strong>.
              </p>
              <p class="js-not-merged">
                This branch hasn’t been merged into <span class="ref-name">master</span>
                .
                To avoid data loss, consider merging this branch before deleting it.
              </p>
              <p>
                Once you confirm and press <strong>
                Delete protected branch
              </strong>
                , it cannot be undone or recovered.
              </p>
              <p>
                <strong>
                  To confirm, type <kbd class="js-branch-name">[branch name]</kbd>
                  :
                </strong>
              </p>
              <div class="form-group"></div>
              <input type="text" name="delete_branch_input" id="delete_branch_input" value="" class="form-control js-delete-branch-input">
            </div>
            <div class="modal-footer">
              <button class="btn" data-dismiss="modal">Cancel</button>
              <a class="btn btn-danger js-delete-branch" title="Delete branch" aria-label="Delete branch" rel="nofollow" data-method="delete" href="">Delete protected branch</a>
            </div>
          </div>
        </div>
      </div>


    </div>
  </div>
</div>
